<nb-card accent="info">
    <nb-card-header><div class="text-center">Registrar vale</div></nb-card-header>
    <nb-card-body>
        <div class="row">
            <div class="col">
                <div class="form-group mb-3">
                    <input #vale maxlength="20" type="text" nbInput autofocus fullWidth placeholder="Vale" class="form-control" [status]="valeStatus">
                </div>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col">
                <webcam *ngIf="!webcamImage" [width]="videoWidth" (click)="triggerSnapshot()" (initError)="handleInitError($event)" [trigger]="triggerObservable" (imageCapture)="handleImage($event)"></webcam>
                <div class="snapshot" *ngIf="webcamImage">
                    <img [src]="webcamImage.imageAsDataUrl" width="225"/>
                </div>
                <div class="form-group mt-2" *ngIf="webcamImage">
                    <button nbButton status="success">Guardar</button>
                    <button nbButton style="margin-left: 5px" (click)="deleteImage()" status="danger">Borrar</button>
                </div>
            </div>
        </div>
    </nb-card-body>
  </nb-card>