<nb-card accent="info">
    <nb-card-header><div class="text-center">{{modname}}</div></nb-card-header>
    <nb-card-body>
        <div class="row">
            <div class="col">
                <div class="form-group mb-3">
                    <nb-form-field>
                        <input (input)="code_change()" #vale maxlength="20" type="text" nbInput autofocus fullWidth placeholder="Vale" class="form-control" [(ngModel)]="code" [status]="valeStatus">
                        <button *ngIf="code.length > 0" class="shadow-none" type="button" nbSuffix nbButton ghost (click)="searchCode()">
                            <nb-icon icon="search-outline" nbTooltip="Mostrar datos del vale" nbTooltipStatus="info"></nb-icon>
                          </button>
                    </nb-form-field>                    
                </div>
            </div>
        </div>
        <div class="row" *ngIf="deliver.fecha">
            <div class="col">
                <div class="form-group">
                    <label>Fecha: <b>{{deliver.fecha}}</b></label>
                </div>
            </div>
        </div>
        <div class="row" *ngIf="deliver.estado">
            <div class="col">
                <div class="form-group">
                    <label>Estado: <b>{{deliver.estado}}</b></label>
                </div>
            </div>
        </div>
        <div class="row" *ngIf="deliver.proceso">
            <div class="col">
                <div class="form-group">
                    <label>Proceso: <b>{{deliver.proceso}}</b></label>
                </div>
            </div>
        </div>
        <div class="row" *ngIf="deliver.importe">
            <div class="col">
                <div class="form-group">
                    <label>Importe: <b>{{deliver.importe}}</b></label>
                </div>
            </div>
        </div>
        <div class="row" *ngIf="deliver.comprador">
            <div class="col">
                <div class="form-group">
                    <label>Comprador: <b>{{deliver.comprador}}</b></label>
                </div>
            </div>
        </div>
        <div class="row" *ngIf="deliver.destinatario">
            <div class="col">
                <div class="form-group">
                    <label>Destinatario: <b>{{deliver.destinatario}}</b></label>
                </div>
            </div>
        </div>
        <!--<div class="row mt-3">
            <div class="col">
                <img width="225" [src]="imgurl" *ngIf="modname === 'Buscar vale'"/>
                <webcam *ngIf="!webcamImage && modname === 'Registrar vale'" [width]="videoWidth" (click)="triggerSnapshot()" (initError)="handleInitError($event)" [trigger]="triggerObservable" (imageCapture)="handleImage($event)"></webcam>
                <div class="snapshot" *ngIf="webcamImage">
                    <img [src]="webcamImage.imageAsDataUrl" width="225"/>
                </div>
                <div class="form-group mt-2" *ngIf="webcamImage">
                    <button nbButton status="success" (click)="saveImage()">Guardar</button>
                    <button nbButton style="margin-left: 5px" (click)="deleteImage()" status="danger">Borrar</button>
                </div>
                <div class="form-group mt-2" *ngIf="modname === 'Buscar vale'">
                    <button nbButton status="info" (click)="deleteImage()">Volver</button>
                </div>
            </div>
        </div>-->
    </nb-card-body>
  </nb-card>