@import '../@theme/styles/themes';
// @import '~ng-pick-datetime/assets/style/picker.min.css';
@import "~@danielmoncada/angular-datetime-picker/assets/style/picker.min.css";

@include nb-install-component() {
  ::ng-deep router-outlet + * {
    display: block;
    animation: fade 1s;

    @keyframes fade {
      from {
        opacity: 0;
      }

      to {
        opacity: 1;
      }
    }
  }
}
