<nb-card fullwidth accent="info">
    <nb-card-header>Registro de operaciones del Grupo Electrónico de Emergencia</nb-card-header>
    <nb-card-body>
      <div>
        <button class="ms-2" nbTooltip="Agregar un registro" nbButton hero status="success" shape="semi-round"size="small"><nb-icon icon="plus-outline"></nb-icon>Nuevo</button>
        <button class="ms-2" nbTooltip="Exportar a PDF" nbButton hero status="success" shape="semi-round"size="small"><nb-icon icon="file-text-outline"></nb-icon>Exportar</button>
      </div>
      <div class='table-responsive'>
        <table class="table table-hover table-striped table-sm">
          <thead>
            <tr>
              <th rowspan="2">D</th>
              <th rowspan="2">M</th>
              <th rowspan="2">A</th>
              <th rowspan="2">TIPO</th>
              <th colspan="2" style="text-align: center;">HORA</th>
              <th colspan="2" style="text-align: center;">HORAMETRO</th>
			        <th rowspan="2">TIEMPO TRABAJADO</th>
              <th rowspan="2">ENERGIA GENERADA</th>
              <th colspan="2" style="text-align: center;">COMBUSTIBLE</th>
              <th rowspan="2">OBSERVACIONES</th>
            </tr>
            <tr>
              <th>INICIAL</th>
              <th>FINAL</th>
              <th>INICIAL</th>
              <th>FINAL</th>
              <th>CONSUMIDO</th>
              <th>EXISTENCIA</th>
            </tr>
          </thead>
          <tbody>          
            
          </tbody>
        </table>
        <pagination-controls maxSize="5" previousLabel="Anterior" nextLabel="Siguiente"></pagination-controls>
      </div>
    </nb-card-body>
    <nb-card-footer>Total de registros: <b></b></nb-card-footer>
  </nb-card>
