<nb-tabset fullWidth id="tabset" name="tabset" #tabset>
  <nb-tab tabIcon="charging-outline" tabTitle="GEE" id="Tab1" name="Tab1" #Tab1>
    <nb-card fullwidth accent="info">
      <nb-card-header>
        Registro de operaciones del Grupo Electrónico de Emergencia
        <nb-select (selectedChange)="onChangeGee($event)" *ngIf="gees.length > 1" status="info" class="ms-2" [(ngModel)]="selectedGEE">
          <nb-option *ngFor="let gee of gees" [value]="gee">{{gee.idgee}}</nb-option>
        </nb-select>
        <button [disabled]="(geeTank.length === 0 || (geeTank.length > 0 && geeTank[0].existencia === 0))" (click)="openNewGRecord()" class="ms-2" nbTooltip="Agregar una operación" nbButton hero status="success" shape="semi-round"size="small"><nb-icon icon="plus-outline"></nb-icon>Nueva</button>
        <button class="ms-2" nbTooltip="Exportar a PDF" nbButton hero status="success" shape="semi-round"size="small"><nb-icon icon="file-text-outline"></nb-icon>Exportar</button>
        <button class="ms-2" (click)="openFuelCard()" nbTooltip="Asociar tarjeta de combustible" nbButton hero status="success" shape="semi-round"size="small"><nb-icon icon="credit-card-outline"></nb-icon>Asociar tarjeta</button>
      </nb-card-header>
      <nb-card-body>
        <div class='table-responsive'>
          <table class="table table-hover table-striped table-sm">
            <thead>
              <tr>
                <th rowspan="2">D</th>
                <th rowspan="2">M</th>
                <th rowspan="2">A</th>
                <th rowspan="2">TIPO</th>
                <th colspan="2" class="text_to_center">HORA</th>
                <th colspan="2" class="text_to_center">HORAMETRO</th>
                <th rowspan="2" class="width10">TIEMPO TRABAJADO</th>
                <th rowspan="2" class="width10">ENERGIA GENERADA</th>
                <th colspan="2" class="text_to_center">COMBUSTIBLE</th>
                <th rowspan="2">OBSERVACIONES</th>
                <th></th>
              </tr>
              <tr>
                <th>INICIAL</th>
                <th>FINAL</th>
                <th>INICIAL</th>
                <th>FINAL</th>
                <th>CONSUMIDO</th>
                <th>EXISTENCIA</th>
              </tr>
            </thead>
            <tbody>          
              <tr *ngFor="let grecord of grecords | paginate: config; let i = index; first as isFirst">
                <td>{{grecord.D}}</td>
                <td>{{grecord.M}}</td>
                <td>{{grecord.A}}</td>
                <td>{{grecord.tipo}}</td>
                <td>{{grecord.hora_inicial | shortTime}}</td>
                <td>{{grecord.hora_final  | shortTime}}</td>
                <td>{{grecord.horametro_inicial}}</td>
                <td>{{grecord.horametro_final}}</td>
                <td>{{grecord.tiempo_trabajado}}</td>
                <td>{{grecord.energia_generada}}</td>
                <td>{{grecord.combustible_consumido}}</td>
                <td>{{grecord.combustible_existencia}}</td>
                <td>{{grecord.observaciones}}</td>
                <td>
                  <!--<nb-icon *ngIf="isFirst" (click)="openEditGRecord(grecord)" class="icon_cursor" icon="edit-outline" [options]="{animation:{type: 'zoom'}}" nbTooltip="Modificar operación" nbTooltipIcon="edit-outline" nbTooltipStatus="info"></nb-icon>-->
                  <nb-icon *ngIf="isFirst" (click)="deleteGEERecord(grecord, true)" class="icon_cursor" icon="trash-2-outline" [options]="{animation:{type: 'zoom'}}" nbTooltip="Eliminar operación" nbTooltipIcon="trash-2-outline" nbTooltipStatus="danger"></nb-icon>
                </td>
              </tr>
            </tbody>
          </table>
          <pagination-controls id="grecords" maxSize="5" previousLabel="Anterior" nextLabel="Siguiente" (pageChange)="pageChanged($event)"></pagination-controls>
        </div>
      </nb-card-body>
      <nb-card-footer>Total de registros: {{config.totalItems}}<b></b></nb-card-footer>
    </nb-card>
  </nb-tab>
  <nb-tab tabIcon="credit-card-outline" tabTitle="Tarjeta" id="Tab2" name="Tab2" #Tab2 [disabled]="cards.length === 0 ? true : false">
    <nb-card fullwidth accent="info">
      <nb-card-header>
        Registro de operaciones de tarjetas magnéticas
        <span class="mr-2">Tarjeta: <span *ngIf="cards.length === 1">{{cards[0].numero}}</span>
          <nb-select (selectedChange)="onChangeCard($event)" id="cardNumber" placeholder="----" [status]="'info'" [(ngModel)]="selectedCard" *ngIf="cards.length > 1">                            
            <nb-option *ngFor="let card of cards" [value]="card">{{card.numero}}</nb-option>
          </nb-select>
        </span>
        <button class="ms-2" (click)="openCRecord()" nbTooltip="Agregar una operación" nbButton hero status="success" shape="semi-round"size="small"><nb-icon icon="plus-outline"></nb-icon>Nueva</button>
      </nb-card-header>
      <nb-card-body>
        <table class="table table-striped">
          <thead>
            <tr>
              <th colspan="4">Empresa: {{selectedGEE.empresa + ' ' + selectedGEE.servicio}}</th>
              <th colspan="4">Organismo: {{selectedGEE.oace}}</th>
            </tr>
            <tr>
              <th colspan="3">Tarjeta No.: {{selectedCard.numero}}</th>
              <th colspan="4">Tipo de combustible: {{selectedCard.nombre_combustible}}</th>
              <th>Saldo: {{selectedCard.saldo}}</th>
            </tr>
            <tr>
              <th rowspan="2" class="text_to_middle">Fecha</th>
              <th>Saldo Inicial</th>
              <th>Recarga</th>
              <th>Saldo</th>
              <th>Consumo</th>
              <th>Saldo Final</th>
              <th rowspan="2" class="text_to_middle">Observ.</th>
              <th rowspan="2"></th>
            </tr>
            <tr>
              <th>Pesos/Litros</th>
              <th>Pesos/Litros</th>
              <th>Pesos/Litros</th>
              <th>Pesos/Litros</th>
              <th>Pesos/Litros</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let card_record of card_records | paginate: config2; let i = index; first as isFirst">
              <td>{{card_record.fecha | date:'dd-MM-yyyy':'UTC'}}</td>
              <td>{{card_record.sinicial_pesos ? card_record.sinicial_pesos + '/' + card_record.sinicial_litros : '--'}}</td>
              <td>{{card_record.recarga_pesos ? card_record.recarga_pesos + '/' + card_record.recarga_litros : '--'}}</td>
              <td>{{card_record.saldo_pesos ? card_record.saldo_pesos + '/' + card_record.saldo_litros : '--'}}</td>
              <td>{{card_record.consumo_pesos ? card_record.consumo_pesos + '/' + card_record.consumo_litros : '--'}}</td>
              <td>{{card_record.sfinal_pesos ? card_record.sfinal_pesos + '/' + card_record.sfinal_litros : '--'}}</td>
              <td><span *ngIf="card_record.observacion" nbTooltip="{{card_record.observacion}}">***</span></td>
              <td><nb-icon (click)="deleteCardRecord(card_record)" *ngIf="isFirst" class="icon_cursor" icon="trash-2-outline" [options]="{animation:{type: 'zoom'}}" nbTooltip="Eliminar operación" nbTooltipIcon="trash-2-outline" nbTooltipStatus="danger"></nb-icon></td>
            </tr>
          </tbody>
        </table>
        <pagination-controls id="crecords" maxSize="5" previousLabel="Anterior" nextLabel="Siguiente" (pageChange)="pageChanged2($event)"></pagination-controls>
      </nb-card-body>
      <nb-card-footer>Total de registros: {{config2.totalItems}}<b></b></nb-card-footer>    
    </nb-card>
  </nb-tab>
  <nb-tab tabIcon="droplet-outline" tabTitle="Tanque" id="Tab3" name="Tab3" #Tab3 [disabled]="cards.length === 0 ? true : false">
    <nb-card fullwidth accent="info">
      <nb-card-header>
        Registro del tanque de combustible
        <button class="ms-2" nbTooltip="Ajustar la existencia de combustible en tanque." nbButton hero status="success" shape="semi-round"size="small"><nb-icon icon="droplet-outline"></nb-icon>Ajustar</button>
      </nb-card-header>
      <nb-card-body>
        <table class="table table-striped">
          <thead>
            <tr>
              <th>D</th>
              <th>M</th>
              <th>A</th>
              <th>ENTRADA</th>
              <th>SALIDA</th>
              <th>EXISTENCIA</th>
              <th>OBSERVACION</th>
            </tr>            
          </thead>
          <tbody>
            <tr *ngFor="let tank of geeTank | paginate: config3; let i = index">
              <td>{{tank.fecha | date: 'dd':'UTC'}}</td>
              <td>{{tank.fecha | date: 'MM'}}</td>
              <td>{{tank.fecha | date: 'YY'}}</td>
              <td>{{tank.entrada ? tank.entrada : '--'}}</td>
              <td>{{tank.salida ? tank.salida : '--'}}</td>
              <td>{{tank.existencia}}</td>
              <td><span *ngIf="tank.observacion" nbTooltip="{{tank.observacion}}">***</span></td>
            </tr>
          </tbody>
        </table>
        <pagination-controls id="trecords" maxSize="5" previousLabel="Anterior" nextLabel="Siguiente" (pageChange)="pageChanged3($event)"></pagination-controls>
      </nb-card-body>
      <nb-card-footer>Total de registros: {{config3.totalItems}}<b></b></nb-card-footer>    
    </nb-card>
  </nb-tab>
</nb-tabset>