<nb-tabset fullWidth id="tabset" name="tabset" #tabset>
  <nb-tab tabTitle="GEE" id="Tab1" name="Tab1" #Tab1>
    <nb-card fullwidth accent="info">
      <nb-card-header>
        Registro de operaciones del Grupo Electrónico de Emergencia
        <nb-select (selectedChange)="onChangeGee()" *ngIf="gees.length > 1" status="info" class="ms-2" [(ngModel)]="selectedGEE">
          <nb-option *ngFor="let gee of gees" [value]="gee.id">{{gee.idgee}}</nb-option>
        </nb-select>
        <button (click)="openNew()" class="ms-2" nbTooltip="Agregar un registro" nbButton hero status="success" shape="semi-round"size="small"><nb-icon icon="plus-outline"></nb-icon>Nuevo</button>
        <button class="ms-2" nbTooltip="Exportar a PDF" nbButton hero status="success" shape="semi-round"size="small"><nb-icon icon="file-text-outline"></nb-icon>Exportar</button>
        <button class="ms-2" (click)="openFuelCard()" nbTooltip="Asociar tarjeta de combustible" nbButton hero status="success" shape="semi-round"size="small"><nb-icon icon="credit-card-outline"></nb-icon>Asociar tarjeta</button>
      </nb-card-header>
      <nb-card-body>
        <div class='table-responsive'>
          <table class="table table-hover table-striped table-sm">
            <thead>
              <tr>
                <th rowspan="2">D</th>
                <th rowspan="2">M</th>
                <th rowspan="2">A</th>
                <th rowspan="2">TIPO</th>
                <th colspan="2" style="text-align: center;">HORA</th>
                <th colspan="2" style="text-align: center;">HORAMETRO</th>
                <th rowspan="2" style="width:10%">TIEMPO TRABAJADO</th>
                <th rowspan="2" style="width:10%">ENERGIA GENERADA</th>
                <th colspan="2" style="text-align: center;">COMBUSTIBLE</th>
                <th rowspan="2">OBSERVACIONES</th>
                <th></th>
              </tr>
              <tr>
                <th>INICIAL</th>
                <th>FINAL</th>
                <th>INICIAL</th>
                <th>FINAL</th>
                <th>CONSUMIDO</th>
                <th>EXISTENCIA</th>
              </tr>
            </thead>
            <tbody>          
              <tr *ngFor="let grecord of grecords">
                <td>{{grecord.D}}</td>
                <td>{{grecord.M}}</td>
                <td>{{grecord.A}}</td>
                <td>{{grecord.tipo}}</td>
                <td>{{grecord.hora_inicial | shortTime}}</td>
                <td>{{grecord.hora_final  | shortTime}}</td>
                <td>{{grecord.horametro_inicial}}</td>
                <td>{{grecord.horametro_final}}</td>
                <td>{{grecord.tiempo_trabajado}}</td>
                <td>{{grecord.energia_generada}}</td>
                <td>{{grecord.combustible_consumido}}</td>
                <td>{{grecord.combustible_existencia}}</td>
                <td>{{grecord.observaciones}}</td>
                <td>
                  <nb-icon style="cursor: pointer" icon="edit-outline" [options]="{animation:{type: 'zoom'}}" nbTooltip="Modificar operación" nbTooltipIcon="edit-outline" nbTooltipStatus="info"></nb-icon>
                  <nb-icon style="cursor: pointer" icon="trash-2-outline" [options]="{animation:{type: 'zoom'}}" nbTooltip="Eliminar operación" nbTooltipIcon="trash-2-outline" nbTooltipStatus="danger"></nb-icon>
                </td>
              </tr>
            </tbody>
          </table>
          <pagination-controls maxSize="5" previousLabel="Anterior" nextLabel="Siguiente"></pagination-controls>
        </div>
      </nb-card-body>
      <nb-card-footer>Total de registros: <b></b></nb-card-footer>
    </nb-card>
  </nb-tab>
  <nb-tab tabTitle="Tarjeta" id="Tab2" name="Tab2" #Tab2 [disabled]="cards.length === 0 ? true : false">
    <nb-card fullwidth accent="info">
      <nb-card-header>
        Registro de operaciones de tarjetas magnéticas
        <span class="mr-2">Tarjeta: <span *ngIf="cards.length === 1">{{cards[0].numero}}</span>
          <nb-select id="cardNumber" placeholder="----" [status]="'info'" [(ngModel)]="selectedCard" *ngIf="cards.length > 1">                            
            <nb-option *ngFor="let card of cards" [value]="card.id">{{card.numero}}</nb-option>
          </nb-select>
        </span>
        <button class="ms-2" nbTooltip="Agregar un registro" nbButton hero status="success" shape="semi-round"size="small"><nb-icon icon="plus-outline"></nb-icon>Nuevo</button>
      </nb-card-header>
      <nb-card-body></nb-card-body>      
    </nb-card>
  </nb-tab>
</nb-tabset>