<nb-card accent="info">
    <nb-card-header><div class="text-center">Establecer planes diarios</div></nb-card-header>
    <nb-card-body>
        <div class="row">
            <div class="col">
                <div>
                    <label>Plan para el día:</label>
                    <input [(ngModel)]="plan_establecido" (input)="plan_change()" autofocus type="text" #plan fullWidth nbInput [status]="plan_status" class="form-control" aria-describedby="planHelp" placeholder="0">
                    <small id="planHelp" class="form-text text-muted">Plan de energía para el día.</small>
                </div>
                <div *ngIf="company.pico_diurno" class="mt-4">
                    <label>Plan horario pico diurno:</label>
                    <input [(ngModel)]="plan_picod" (input)="ppicd_change()" type="text" #planpicod fullWidth nbInput [status]="ppicd_status" class="form-control" aria-describedby="pplandHelp" placeholder="0">
                    <small id="pplandHelp" class="form-text text-muted">Plan de energía para el horario pico diurno.</small>
                </div>
                <div *ngIf="company.pico_nocturno" class="mt-4">
                    <label>Plan horario pico nocturno:</label>
                    <input [(ngModel)]="plan_picon" (input)="ppicn_change()" type="text" #planpicon fullWidth nbInput [status]="ppicn_status" class="form-control" aria-describedby="pplandHelp" placeholder="0">
                    <small id="pplandHelp" class="form-text text-muted">Plan de energía para el horario pico diurno.</small>
                </div>
                <div class="float-left mt-5">
                    <button (click)="save()" nbButton hero status="success" shape="semi-round" size="small">Guardar</button>
                    <button (click)="close()" style="margin-left: 10px" nbButton hero status="danger" shape="semi-round" size="small">Cancelar</button>
                </div>
            </div>
            <div class="col">
                <div>            
                    <owl-date-time-inline [(ngModel)]="dates" [startAt]="startDate" [pickerType]="'calendar'" [selectMode]="'range'"></owl-date-time-inline>
                </div>
            </div>
        </div>
    </nb-card-body>
</nb-card>