<nb-card fullwidth accent="info">
    <nb-card-header>Administración de empresas del sistema</nb-card-header>
    <nb-card-body>
      <div>
          <button (click)="openNew()" nbTooltip="Agregar una nueva empresas" nbButton hero status="success" shape="semi-round"size="small"><nb-icon icon="plus-outline"></nb-icon>Nueva</button>
      </div>
      <div class='table-responsive'>
        <table id="tablePreview" class="table table-hover table-borderless table-striped table-sm">
          <thead>
            <tr>
              <th>#</th>
              <th>SIGLAS</th>
              <th>NOMBRE</th>
              <th>PROVINCIA</th>
              <th>MUNICIPIO</th>
              <th>OACE</th>
              <th>OSDE</th>
              <th>CODCLI</th>
              <th></th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let company of companies; let i = index">
              <th scope="row">{{i+1}}</th>
              <td>{{company.siglas}}</td>
              <td>{{company.nombre}}</td>
              <td>{{company.provincia}}</td>
              <td>{{company.municipio}}</td>
              <td>{{company.oace}}</td>
              <td>{{company.osde}}</td>
              <td>{{company.codcli}}</td>
              <td>
                <nb-icon (click)="openEdit(i)" style="cursor: pointer" icon="edit-outline" [options]="{animation:{type: 'zoom'}}" nbTooltip="Modificar empresa" nbTooltipIcon="edit-outline" nbTooltipStatus="info"></nb-icon>
                <nb-icon (click)="deleteCompany(i)" style="cursor: pointer" icon="trash-2-outline" [options]="{animation:{type: 'zoom'}}" nbTooltip="Eliminar empresa" nbTooltipIcon="trash-2-outline" nbTooltipStatus="danger"></nb-icon>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </nb-card-body>
    <nb-card-footer></nb-card-footer>
  </nb-card>
