<nb-card accent="info">
    <nb-card-header><div class="text-center">{{title}}</div></nb-card-header>
    <nb-card-body>
        <nb-tabset fullWidth id="tabset" name="tabset" #tabset>
            <nb-tab tabIcon="book-outline" tabTitle="Generales" id="Tab1" name="Tab1" #Tab1>
                <div class="row">
                    <div class="col">
                        <div class="form-group mb-3">
                            <label class="form-label">Empresa:</label>
                            <nb-select (selectedChange)="seleccionarEmpresa()" fullWidth placeholder="----" [(ngModel)]="empresa_seleccionada" [status]="company_status">
                                <nb-option *ngFor="let company of companies" [value]="company.id">{{company.siglas}}</nb-option>
                            </nb-select>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group mb-3">
                            <label class="form-label">Servicio:</label>
                            <nb-select (selectedChange)="seleccionarServicio()" fullWidth placeholder="----" [(ngModel)]="servicio_seleccionado" [status]="service_status">
                                <nb-option *ngFor="let serv of services" [value]="serv.id">{{serv.nombre}}</nb-option>
                            </nb-select>
                        </div>
                    </div>            
                </div>
                <div class="row">
                    <div class="col">
                        <div class="form-group mb-3">
                            <label class="form-label">ID:</label>
                            <input (input)="idgee_change()" maxlength="50" type="text" nbInput fullWidth placeholder="ID" class="form-control" aria-describedby="idHelp" [(ngModel)]="newGEE.idgee" [status]="idgee_status">
                            <small id="idHelp" class="form-text text-muted">Código identificador del grupo. Entre 1 y 50 caracteres.</small>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group mb-3">
                            <label class="form-label">Marca:</label>
                            <input (input)="marca_change()" maxlength="50" type="text" nbInput fullWidth placeholder="Marca" class="form-control" aria-describedby="marcaHelp" [(ngModel)]="newGEE.marca" [status]="marca_status">
                            <small id="marcaHelp" class="form-text text-muted">Fabricante del grupo. Entre 1 y 50 caracteres.</small>
                        </div>
                    </div>            
                </div> 
            </nb-tab>
            <nb-tab tabIcon="book-open-outline" tabTitle="Específicos" id="Tab2" name="Tab2" #Tab2>
                <div class="row">
                    <div class="col">
                        <div class="form-group mb-3">
                            <label class="form-label">KVA:</label>
                            <input (input)="kva_change()" maxlength="5" type="text" nbInput placeholder="KVA" class="form-control" aria-describedby="kvaHelp" [(ngModel)]="newGEE.kva" [status]="kva_status">
                            <small id="kvaHelp" class="form-text text-muted">Potencia del grupo en KVA. Solo dígitos.</small>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group mb-3">
                            <label class="form-label">Índice sin carga:</label>
                            <input (input)="icsc_change()" maxlength="6" type="text" nbInput placeholder="0.0" class="form-control" aria-describedby="icscHelp" [(ngModel)]="newGEE.ic_scarga" [status]="icsc_status">
                            <small id="icscHelp" class="form-text text-muted">Índice de consumo del grupo sin carga. Solo dígitos.</small>
                        </div>
                    </div>            
                </div> 
                <div class="row">
                    <div class="col">
                        <div class="form-group mb-3">
                            <label class="form-label">Índice diurno con carga:</label>
                            <input (input)="icccd_change()" maxlength="6" type="text" nbInput placeholder="0.0" class="form-control" aria-describedby="icccdHelp" [(ngModel)]="newGEE.ic_ccargad" [status]="icccd_status">
                            <small id="icccdHelp" class="form-text text-muted">Índice de consumo diurno del grupo con carga. Solo dígitos.</small>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group mb-3">
                            <label class="form-label">Índice nocturno con carga:</label>
                            <input (input)="icccn_change()" maxlength="6" type="text" nbInput placeholder="0.0" class="form-control" aria-describedby="icccnHelp" [(ngModel)]="newGEE.ic_ccargan" [status]="icccn_status">
                            <small id="icccnHelp" class="form-text text-muted">Índice de consumo nocturno del grupo con carga. Solo dígitos.</small>
                        </div>
                    </div>           
                </div>
                <div class="row">
                    <div class="col">
                        <div class="form-group mb-3">
                            <label class="form-label">Índice de demanda liberada:</label>
                            <input (input)="dl_change()" maxlength="6" type="text" nbInput placeholder="0.0" class="form-control" aria-describedby="dlHelp" [(ngModel)]="newGEE.dl" [status]="dl_status">
                            <small id="dlHelp" class="form-text text-muted">Índice de demanda liberada por hora. Solo dígitos.</small>
                        </div>
                    </div>
                    <div></div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="form-group mb-3">
                            <label class="form-label">Capacidad del tanque:</label>
                            <input (input)="cap_tanque_change()" maxlength="6" type="text" nbInput placeholder="0" class="form-control" aria-describedby="cap_tanque" [(ngModel)]="newGEE.cap_tanque" [status]="cap_tanque_status">
                            <small id="cap_tanque" class="form-text text-muted">Capacidad en litros del tanque interno.</small>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group mb-3">
                            <nb-checkbox [checked]="newGEE.tanque_ext" (checkedChange)="tanque_ext_change($event)">Tanque exterior</nb-checkbox>
                            <input (input)="cap_tanque_ext_change()" [disabled]="!newGEE.tanque_ext" maxlength="6" type="text" nbInput placeholder="0" class="form-control" aria-describedby="cap_tanque_ext" [(ngModel)]="newGEE.cap_tanque_ext" [status]="cap_tanque_ext_status">                    
                            <small id="cap_tanque_ext" class="form-text text-muted">Capacidad en litros del tanque externo.</small>
                        </div>
                    </div>           
                </div> 
            </nb-tab>
        </nb-tabset>
    </nb-card-body>
    <nb-card-footer>
        <div class="form-group" style="float: right;margin-top: 5px">
            <button (click)="validate()" nbButton hero status="success" shape="semi-round" size="small">Guardar</button>
            <button (click)="close()" style="margin-left: 10px" nbButton hero status="danger" shape="semi-round" size="small">Cancelar</button>
        </div>
    </nb-card-footer>
</nb-card>