<nb-card accent="info">
  <nb-card-header><div class="text-center">{{newERecord.fecha | date:'dd/MM/yyyy':'+0000'}}</div></nb-card-header>
  <nb-card-body>
    <!--
    <div class="form-group" *ngIf="!newERecord.id">
      <label>Plan:</label>
      <input (input)="plan_change()" autofocus type="text" [(ngModel)]="newERecord.plan" #plan fullWidth nbInput [status]="plan_status" class="form-control" aria-describedby="planHelp" placeholder="0">
      <small id="planHelp" class="form-text text-muted">Plan de energía para el día.</small>
    </div>
    <div class="form-group">
      <label>Lectura:</label>
      <input (input)="lectura_change()" type="text" [(ngModel)]="newERecord.lectura" #lectura fullWidth nbInput [status]="lectura_status" class="form-control" aria-describedby="resHelp" placeholder="0">
      <small id="lecturaHelp" class="form-text text-muted">Lectura del metro contador.</small>
    </div>
    <div class="form-group">
      <label>Consumo del día: <span [ngClass]="(newERecord.plan >= newERecord.consumo && newERecord.consumo >= 0)?'text-success font-weight-bold':'text-danger font-weight-bold'">{{newERecord.consumo}}</span></label>      
    </div>
    <div class="form-group" *ngIf="!newERecord.id">
      <label>Plan Horario Pico:</label>
      <input (input)="ppic_change()" type="text" [(ngModel)]="newERecord.plan_hpic" #plan_pic fullWidth nbInput [status]="ppic_status" class="form-control" aria-describedby="planpicHelp" placeholder="0">
      <small id="planpicHelp" class="form-text text-muted">Plan para el horario pico del mediodía.</small>
    </div>
    <div class="form-group">
      <label>Real Horario Pico:</label>
      <input (input)="rpic_change()" type="text" [(ngModel)]="newERecord.real_hpic" #real_pic fullWidth nbInput [status]="rpic_status" class="form-control" aria-describedby="realpicHelp" placeholder="0">
      <small id="realpicHelp" class="form-text text-muted">Consumo del horario pico del mediodía.</small>
    </div>
    -->
  </nb-card-body>
  <nb-card-footer>
    <div class="float-right row">
      <!--
      <button (click)="save()" nbButton hero status="success" shape="semi-round" size="small">Guardar</button>
      <button (click)="close()" style="margin-left: 10px" nbButton hero status="danger" shape="semi-round" size="small">Cancelar</button>
      -->
    </div>
  </nb-card-footer>
</nb-card>