<nb-card fullwidth accent="info">
  <nb-card-header>Registro de entradas y salidas del taller {{service.nombre}}</nb-card-header>
  <nb-card-body>
    <div class="row">
      <label class="mt-1">Buscar:</label>
      <nb-form-field>
        <input #strsearch nbTooltip="Escriba uno o varios parámetros separados por espacio y presione enter." (keyup.enter)="search()" [(ngModel)]="search_string" [status]="search_status" class="ml-2" type="text" nbInput fieldSize="small" placeholder="Escriba el valor...">
        <button *ngIf="search_string !== ''" nbSuffix nbButton ghost (click)="clearSearchInput()">
          <nb-icon icon="close-outline" nbTooltip="Borrar" nbTooltipStatus="info"></nb-icon>
        </button>
      </nb-form-field>
      <button class="ml-4" (click)="openNew()" nbTooltip="Agregar un registro" nbButton hero status="success" shape="semi-round"size="small"><nb-icon icon="plus-outline"></nb-icon>Nuevo</button>
    </div>
    <div class='table-responsive'>
      <table id="tablePreview" class="table table-hover table-borderless table-striped table-sm">
        <thead>
          <tr>
            <th>#</th>
            <th>CLIENTE</th>
            <th>EQUIPO</th>
            <th>MARCA</th>
            <th>MODELO</th>
            <th>INV</th>
            <th>#SERIE</th>
            <th>ENTRADA</th>
            <th>ENTREGA</th>
            <th>OT</th>
            <th>ESTADO</th>
            <th>ESPEC</th>
            <th>SALIDA</th>
            <th>RECOGE</th>
            <th></th>
          </tr>
        </thead>
        <tbody>          
          <tr *ngFor="let wrecord of wrecords | paginate: config; let i = index">
            <th (click)="openUpdt(i)" style="cursor: pointer" scope="row" *ngIf="!wrecord.externo">{{wrecord.cod}}</th>
            <th (click)="openUpdt(i)" style="cursor: pointer" scope="row" *ngIf="wrecord.externo">-</th>
            <td (click)="openUpdt(i)" style="cursor: pointer" nbTooltip="{{wrecord.cliente_nombre}}">{{wrecord.cliente}}</td>
            <td (click)="openUpdt(i)" style="cursor: pointer">{{wrecord.equipo}}</td>
            <td (click)="openUpdt(i)" style="cursor: pointer">{{wrecord.marca}}</td>
            <td (click)="openUpdt(i)" style="cursor: pointer">{{wrecord.modelo}}</td>
            <td (click)="openUpdt(i)" style="cursor: pointer">{{wrecord.inventario}}</td>
            <td (click)="openUpdt(i)" style="cursor: pointer" nbTooltip="{{wrecord.serie}}">{{wrecord.serie | shortSerial}}</td>
            <td (click)="openUpdt(i)" style="cursor: pointer">{{wrecord.fecha_entrada | onlyDate}}</td>
            <td (click)="openUpdt(i)" style="cursor: pointer" nbTooltip="{{wrecord.entregado}}">{{wrecord.entregado | shortName}}</td>
            <td (click)="openUpdt(i)" style="cursor: pointer">{{wrecord.ot}}</td>
            <td (click)="openUpdt(i)" style="cursor: pointer" nbTooltip="{{wrecord.estado | stateDescription}}"><span [ngStyle]="wrecord.estado | deviceState">{{wrecord.estado}}</span></td>
            <td (click)="openUpdt(i)" style="cursor: pointer" nbTooltip="{{wrecord.especialista}}">{{wrecord.especialista | shortName}}</td>
            <td (click)="openUpdt(i)" style="cursor: pointer">{{wrecord.fecha_salida | onlyDate}}</td>
            <td (click)="openUpdt(i)" style="cursor: pointer" nbTooltip="{{wrecord.recogido}}">{{wrecord.recogido | shortName}}</td>
            <td style="cursor: pointer">
             <!-- <nb-icon *ngIf="user.role==='admin'" (click)="deleteRecord(i)" icon="trash-2-outline" [options]="{animation:{type: 'zoom'}}" nbTooltip="Eliminar registro" nbTooltipIcon="trash-2-outline" nbTooltipStatus="danger"></nb-icon> -->
              <fa-icon (click)="generateReceipt(i)" class="mr-1" [icon]="['far', 'id-card']" nbTooltip="Comprobante de entrega" nbTooltipStatus="info"></fa-icon>
              <fa-icon (click)="openParts(i)" *ngIf="wrecord.equipo === 'Unidad Central' && wrecord.estado === 'P'" class="mr-1" [icon]="['far', 'list-alt']" nbTooltip="Definir partes" nbTooltipStatus="info"></fa-icon>
              <fa-icon *ngIf="wrecord.equipo === 'Unidad Central'" (click)="generateDeliver(i)" class="mr-1" [icon]="['far', 'share-square']" nbTooltip="Acta de entrega" nbTooltipStatus="info"></fa-icon>
              <fa-icon *ngIf="wrecord.estado === 'D'" (click)="generateDiagnostic(i)" class="mr-1" [icon]="['far', 'file-alt']" nbTooltip="Modelo de diagnóstico" nbTooltipStatus="info"></fa-icon>
              <fa-icon [icon]="['far', 'trash-alt']" *ngIf="user.role==='admin'" (click)="deleteRecord(i)" nbTooltip="Eliminar registro" nbTooltipStatus="danger"></fa-icon>
            </td>
          </tr>
        </tbody>
      </table>
      <pagination-controls maxSize="5" previousLabel="Anterior" nextLabel="Siguiente" (pageChange)="pageChanged($event)"></pagination-controls>
    </div>
  </nb-card-body>
  <nb-card-footer>Total de registros: <b>{{config.totalItems}}</b></nb-card-footer>
</nb-card>
