<nb-card fullwidth accent="info">
    <nb-card-header>Administración de Grupos Electrógenos de Emergencia</nb-card-header>
    <nb-card-body>
      <div class="row g-3 align-items-center">
        <div class="col-auto">
          <button nbTooltip="Agregar un nuevo servicio" nbButton hero status="success" shape="semi-round"size="small"><nb-icon icon="plus-outline"></nb-icon>Nuevo</button>
        </div>
      </div>
      <div class='table-responsive'>
        <table id="tablePreview" class="table table-hover table-borderless table-striped table-sm">
          <thead>
            <tr>
              <th>#</th>
              <th>EMPRESA</th>              
              <th>SERVICIO</th>
              <th>PROVINCIA</th>
              <th>MUNICIPIO</th>
              <th>ID</th>
              <th>MARCA</th>
              <th>KVA</th>
              <th></th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            
          </tbody>
        </table>
      </div>
    </nb-card-body>
    <nb-card-footer></nb-card-footer>
  </nb-card>