<nb-card fullwidth accent="info">
    <nb-card-header>Administración de Grupos Electrógenos de Emergencia</nb-card-header>
    <nb-card-body>
      <div class="row g-3 align-items-center">
        <div class="col-auto">
          <button (click)="openNew()" nbTooltip="Agregar un nuevo grupo electrógeno" nbButton hero status="success" shape="semi-round"size="small"><nb-icon icon="plus-outline"></nb-icon>Nuevo</button>
          <button class="ms-3" (click)="openChangePrice()" nbTooltip="Cambiar el precio de un combustible" nbButton hero status="success" shape="semi-round"size="small"><nb-icon icon="trending-up-outline"></nb-icon>Cambiar precio</button>
        </div>
      </div>
      <div class='table-responsive'>
        <table id="tablePreview" class="table table-hover table-borderless table-striped table-sm">
          <thead>
            <tr>
              <th>#</th>
              <th>ID</th>
              <th>EMPRESA</th>              
              <th>SERVICIO</th>
              <th>PROVINCIA</th>
              <th>MUNICIPIO</th>
              <th>MARCA</th>
              <th>KVA</th>
              <th></th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let gee of gees; let i = index">
              <th scope="row">{{i+1}}</th>
              <td>{{gee.idgee}}</td>
              <td>{{gee.empresa}}</td>
              <td>{{gee.servicio}}</td>
              <td>{{gee.provincia}}</td>
              <td>{{gee.municipio}}</td>
              <td>{{gee.marca}}</td>
              <td>{{gee.kva}}</td>
              <td>
                <nb-icon (click)="openEdit(i)" style="cursor: pointer" icon="edit-outline" [options]="{animation:{type: 'zoom'}}" nbTooltip="Modificar GEE" nbTooltipIcon="edit-outline" nbTooltipStatus="info"></nb-icon>
                <nb-icon style="cursor: pointer" icon="credit-card-outline" [options]="{animation:{type: 'zoom'}}" nbTooltip="Tarjetas asociadas" nbTooltipIcon="credit-card-outline" nbTooltipStatus="info"></nb-icon>
                <nb-icon (click)="deleteGEE(i)" style="cursor: pointer" icon="trash-2-outline" [options]="{animation:{type: 'zoom'}}" nbTooltip="Eliminar GEE" nbTooltipIcon="trash-2-outline" nbTooltipStatus="danger"></nb-icon>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </nb-card-body>
    <nb-card-footer></nb-card-footer>
  </nb-card>