<nb-card accent="info" size="large">
    <nb-card-header><div class="text-center">{{title}}</div></nb-card-header>
    <nb-card-body>
        <div class="row">
            <div class="col">
                <div class="form-group mb-3">
                    <label class="form-label">Siglas:</label>
                    <input maxlength="50" (input)="siglas_change()" type="text" nbInput autofocus fullWidth placeholder="Siglas"class="form-control" aria-describedby="siglasHelp" [(ngModel)]="newCompany.siglas" [status]="siglas_status">
                    <small id="siglasHelp" class="form-text text-muted">Siglas de la empresa. Entre 2 y 50 caracteres.</small>
                </div>
            </div>
            <div class="col">
                <div class="form-group mb-3">
                    <label class="form-label">Nombre:</label>
                    <input maxlength="200" (input)="nombre_change()" type="text" nbInput fullWidth placeholder="Nombre"class="form-control" aria-describedby="nombresHelp" [(ngModel)]="newCompany.nombre" [status]="nombre_status">
                    <small id="nombreHelp" class="form-text text-muted">Nombre completo de la empresa. Entre 4 y 250 caracteres.</small>
                </div>
            </div>            
        </div>
        <div class="row">
            <div class="col">
                <div class="form-group mb-3">
                    <label class="form-label">Provincia:</label>
                    <nb-select (selectedChange)="cambiarmunicipios()" fullWidth placeholder="----" [(ngModel)]="provincia_seleccionada" [status]="provincia_status">
                        <nb-option *ngFor="let prov of provincias; let i = index" [value]="i">{{prov.nombre}}</nb-option>
                    </nb-select>
                </div>
            </div>
            <div class="col">
                <div class="form-group mb-3">
                    <label class="form-label">Municipio:</label>
                    <nb-select (selectedChange)="seleccionarMunicipio()" fullWidth placeholder="----" [(ngModel)]="municipio_seleccionado" [status]="municipio_status">
                        <nb-option *ngFor="let mun of municipios; let i = index" [value]="i">{{mun}}</nb-option>
                    </nb-select>
                </div>
            </div>            
        </div>
        <div class="row">
            <div class="col">
                <div class="form-group mb-3">
                    <label class="form-label">OACE:</label>
                    <input maxlength="50" (input)="oace_change()" type="text" nbInput fullWidth placeholder="OACE"class="form-control" aria-describedby="oaceHelp" [(ngModel)]="newCompany.oace" [status]="oace_status">
                    <small id="oaceHelp" class="form-text text-muted">OACE al que pertenece la empresa. Solo letras entre 4 y 50 caracteres.</small>
                </div>
            </div>
            <div class="col">
                <div class="form-group mb-3">
                    <label class="form-label">OSDE:</label>
                    <input maxlength="50" (input)="osde_change()" type="text" nbInput fullWidth placeholder="OSDE"class="form-control" aria-describedby="osdeHelp" [(ngModel)]="newCompany.osde" [status]="osde_status">
                    <small id="osdeHelp" class="form-text text-muted">OSDE al que pertenece la empresa. Entre 4 y 50 caracteres.</small>
                </div>
            </div>            
        </div>
        <div class="row">
            <div class="col">
                <div class="form-group mb-3">
                    <label class="form-label">Servidor de correo:</label>
                    <input maxlength="200" (input)="email_change()" type="text" nbInput fullWidth placeholder="https://webmail.server.cu" class="form-control" aria-describedby="emailHelp" [(ngModel)]="newCompany.email" [status]="email_status">
                    <small id="emailHelp" class="form-text text-muted">Dirección web del servidor de correo.</small>
                </div>
            </div>
            <div class="col">
                <div class="form-group mb-3">
                    <label class="form-label">Código REEUP:</label>
                    <input maxlength="200" (input)="reup_change()" type="text" nbInput fullWidth placeholder="000.0.00000" class="form-control" aria-describedby="reupHelp" [(ngModel)]="newCompany.reup" [status]="reup_status">
                    <small id="reupHelp" class="form-text text-muted">Código del Registro Estatal de Empresas y Unidades Presupuestadas (REEUP).</small>
                </div>
            </div>
        </div>
    </nb-card-body>
    <nb-card-footer>
        <div class="form-group" style="float: right;margin-top: 5px">
            <button (click)="validate()" nbButton hero status="success" shape="semi-round" size="small">Guardar</button>
            <button (click)="close()" style="margin-left: 10px" nbButton hero status="danger" shape="semi-round" size="small">Cancelar</button>
        </div>
    </nb-card-footer>
</nb-card>
