<nb-card accent="info" size="large">
    <nb-card-header><div class="text-center">{{title}}</div></nb-card-header>
    <nb-card-body>
        <div class="row">
            <div class="col">
                <div class="form-group">
                    <label>Siglas:</label>
                    <input type="text" nbInput autofocus fullWidth placeholder="Siglas"class="form-control" aria-describedby="siglasHelp">
                    <small id="siglasHelp" class="form-text text-muted">Siglas de la empresa. Solo letras enntre 4 y 50 caracteres.</small>
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <label>Nombre:</label>
                    <input type="text" nbInput fullWidth placeholder="Nombre"class="form-control" aria-describedby="nombresHelp">
                    <small id="nombreHelp" class="form-text text-muted">Nombre completo de la empresa. Entre 4 y 250 caracteres.</small>
                </div>
            </div>            
        </div>
        <div class="row">
            <div class="col">
                <div class="form-group">
                    <label>Provincia:</label>
                    <nb-select (selectedChange)="cambiarmunicipios()" fullWidth placeholder="----" status="info" [(ngModel)]="provincia_seleccionada">
                        <nb-option *ngFor="let prov of provincias; let i = index" [value]="i">{{prov.nombre}}</nb-option>
                    </nb-select>
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <label>Municipio:</label>
                    <nb-select fullWidth placeholder="----" status="info" [(ngModel)]="municipio_seleccionado">
                        <nb-option *ngFor="let mun of municipios; let i = index" [value]="i">{{mun}}</nb-option>
                    </nb-select>
                </div>
            </div>            
        </div>
        <div class="row">
            <div class="col">
                <div class="form-group">
                    <label>OACE:</label>
                    <input type="text" nbInput fullWidth placeholder="OACE"class="form-control" aria-describedby="oaceHelp">
                    <small id="oaceHelp" class="form-text text-muted">OACE al que pertenece la empresa. Solo letras entre 4 y 50 caracteres.</small>
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <label>OSDE:</label>
                    <input type="text" nbInput fullWidth placeholder="OSDE"class="form-control" aria-describedby="osdeHelp">
                    <small id="osdeHelp" class="form-text text-muted">OSDE al que pertenece la empresa. Entre 4 y 50 caracteres.</small>
                </div>
            </div>            
        </div>
        <div class="row">
            <div class="col">
                <div class="form-group">
                    <label>CODCLI:</label>
                    <input type="text" nbInput fullWidth placeholder="CODCLI"class="form-control" aria-describedby="codcliHelp">
                    <small id="codcliHelp" class="form-text text-muted">Código de cliente de la empresa. Entre 4 y 50 caracteres.</small>
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <label>Control:</label>
                    <input type="text" nbInput fullWidth placeholder="Control"class="form-control" aria-describedby="controlHelp">
                    <small id="controlHelp" class="form-text text-muted">Control de la empresa. Entre 4 y 50 caracteres.</small>
                </div>
            </div>            
        </div>  
    </nb-card-body>
    <nb-card-footer>
        <div class="float-right row">
        <button nbButton hero status="success" shape="semi-round" size="small">Guardar</button>
        <button (click)="close()" style="margin-left: 10px" nbButton hero status="danger" shape="semi-round" size="small">Cancelar</button>
        </div>
    </nb-card-footer>
</nb-card>
