<nb-card accent="info" size="medium">
    <nb-card-header><div class="text-center">Actualizar partes</div></nb-card-header>
    <nb-card-body>
        <table class="table table-hover table-borderless table-striped table-sm">
            <thead>
                <tr>
                    <th>Parte</th>
                    <th>Marca</th>
                    <th>Modelo</th>
                    <th>Capacidad</th>
                    <th>Cantidad</th>
                    <th>No. Serie</th>
                    <th></th>
                </tr>
              </thead>
              <tbody>
                  <tr *ngFor="let part of parts; let i = index">
                    <td>
                      <input type="text" (input)="partChange(i)" (focusout)="partLostFocus(i)" list="dynamicParts" [status]="partes_status[i]" [(ngModel)]="parts[i].parte" nbInput fullWidth placeholder="Parte" class="form-control">
                      <datalist id="dynamicParts">
                        <option *ngFor="let parte of partes" [value]="parte">{{parte}}</option>
                      </datalist>
                    </td>
                    <td>
                      <input type="text" (input)="marcChange(i)" (focusout)="marcLostFocus(i)" [status]="marcas_status[i]" list="dynamicMarcs" [(ngModel)]="parts[i].marca" nbInput fullWidth placeholder="Marca" class="form-control">
                      <datalist id="dynamicMarcs">
                        <option *ngFor="let marca of marcas" [value]="marca">{{marca}}</option>
                      </datalist>
                    </td>
                    <td>
                      <input type="text" (input)="modelChange(i)" [status]="modelos_status[i]" list="dynamicModels" [(ngModel)]="parts[i].modelo" nbInput fullWidth placeholder="Modelo" class="form-control">
                      <datalist id="dynamicModels">
                        <option *ngFor="let modelo of modelos" [value]="modelo">{{modelo}}</option>
                      </datalist>
                    </td>
                    <td>
                      <input type="text" (input)="capChange(i)" list="dynamicCaps" [status]="capacidades_status[i]" [(ngModel)]="parts[i].capacidad" nbInput fullWidth placeholder="Capacidad" class="form-control">
                      <datalist id="dynamicCaps">
                        <option *ngFor="let cap of capacidades" [value]="cap">{{cap}}</option>
                      </datalist>
                    </td>
                    <td><input type="text" (input)="amountChange(i)" [status]="cantidades_status[i]" [(ngModel)]="parts[i].cantidad" nbInput fullWidth placeholder="Cantidad" class="form-control"></td>
                    <td><input type="text" (input)="serieChange(i)" [status]="series_status[i]" [(ngModel)]="parts[i].serie" nbInput fullWidth placeholder="# Serie" class="form-control"></td>
                    <td class="align-middle"><nb-icon (click)="deletePart(i)" style="cursor: pointer" icon="trash-2-outline" [options]="{animation:{type: 'zoom'}}" nbTooltip="Eliminar parte" nbTooltipIcon="trash-2-outline" nbTooltipStatus="danger"></nb-icon></td>
                  </tr>
                  <tr>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td><nb-icon (click)="newPart()" style="cursor: pointer" icon="plus-outline" [options]="{animation:{type: 'zoom'}}" nbTooltip="Adicionar parte" nbTooltipIcon="plus-outline" nbTooltipStatus="success"></nb-icon></td>
                  </tr>
              </tbody>
        </table>
    </nb-card-body>
    <nb-card-footer>
      <div class="float-right row">
        <button (click)="save()" nbButton hero status="success" shape="semi-round" size="small">Aceptar</button>
        <button (click)="close()" style="margin-left: 10px" nbButton hero status="danger" shape="semi-round" size="small">Cancelar</button>
      </div>
    </nb-card-footer>
  </nb-card>