<nb-card accent="info" size="tiny">
  <nb-card-body>
    <div class="form-group">
      <label>Nueva anotación:</label>
      <textarea autofocus type="text" [(ngModel)]="observ" fullWidth nbInput status="info" class="form-control" placeholder="Nueva anotación"></textarea>
    </div>
    <div style="margin-top: 20px" class="float-right row">
      <button hero (click)="save()" nbButton status="success" shape="semi-round" size="small">Guardar</button>
      <button hero style="margin-left: 10px" (click)="close()" nbButton status="danger" shape="semi-round" size="small">Cancelar</button>
    </div>
  </nb-card-body>
</nb-card>
