<nb-card accent="info">
    <nb-card-header><div class="text-center">{{title}}</div></nb-card-header>
    <nb-card-body>
        <div class="row">
            <div class="col">
                <div class="form-group mb-3">
                    <label>Fecha:</label>
                    <input [status]="fecha_status" [(ngModel)]="fecha" type="text" [nbDatepicker]="datepicker" nbInput fullWidth placeholder="Fecha de operación" class="form-control" aria-describedby="dateHelp">
                    <small id="dateHelp" class="form-text text-muted">Fecha en la que se raliza la operación.</small>   
                    <nb-datepicker #datepicker (dateChange)="onDateChange()"></nb-datepicker>   
                </div>
            </div>
            <div class="col">
                <div class="form-group mb-3">
                    <label>Tipo:</label>
                    <nb-select (selectedChange)="onTypeChange()" fullWidth aria-describedby="tipoHelp" [status]="tipo_status" [(ngModel)]="nueva_operacion.tipo">
                        <nb-option value="IA" nbTooltip="Operación por Interrupción o Avería en el servicio eléctrico.">IA</nb-option>
                        <nb-option value="PS" nbTooltip="Operación sin carga para dar mantenimiento a las baterías.">PS</nb-option>
                        <nb-option value="PM" nbTooltip="Prueba de Puesta en Marcha de 4 horas con carga.">PM</nb-option>
                        <nb-option value="LD" nbTooltip="Operación de Liberación de Demanda por Orden de la DGE UNE.">LD</nb-option>
                        <nb-option value="SS" nbTooltip="Operación de Sincronización al SEN por Orden del DNC.">SS</nb-option>
                        <nb-option value="GA" nbTooltip="Operación de los GEE que se encuentran aislados del SEN.">GA</nb-option>
                        <nb-option value="RI" nbTooltip="Operación por Resumen de Operaciones por Interrupción.">RI</nb-option>
                        <nb-option value="RP" nbTooltip="Operación por Resumen de Operaciones por Pruebas.">RP</nb-option>
                        <nb-option value="IU" nbTooltip="Operación ocurrida por trabajos de rehabilitación de líneas.">IU</nb-option>
                        <nb-option value="PC" nbTooltip="Operación realizada con carga para comprobar los parámetros del GEE.">PC</nb-option>
                        <nb-option value="LC" nbTooltip="Prueba del litro con carga.">LC</nb-option>
                        <nb-option value="LS" nbTooltip="Prueba del litro sin carga.">LS</nb-option>
                    </nb-select>
                    <small id="tipoHelp" class="form-text text-muted">Tipo de operación.</small> 
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="form-group mb-3">
                    <label>Horario: {{horas_trabajadas}}</label>
                    <input [owlDateTime]="dh" (dateTimeChange)="onTimeChange()" selectMode="range" [owlDateTimeTrigger]="dh" nbInput [status]="hora_status" class="form-control" [formControl]="hora">
                    <owl-date-time hour12Timer="false" #dh [pickerType]="'timer'"></owl-date-time>
                    <small id="timeHelp" class="form-text text-muted">Horario en el que se realizó la operación.</small> 
                </div>
            </div>
            <div class="col">
                <div class="form-group mb-3">
                    <label>Horámetro inicial:</label>
                    <input [readonly]="operacion_anterior.horametro_final ? true : false" nbInput class="form-control" [status]="horametro_inicial_status" [(ngModel)]="nueva_operacion.horametro_inicial">
                    <small id="hiniHelp" class="form-text text-muted">Lectura inicial del horámetro.</small>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="form-group mb-3">
                    <label>Horámetro final: {{diferencia_horametro}}</label>
                    <input nbInput (input)="onHorametroFinalChange()" class="form-control" [status]="horametro_final_status" [(ngModel)]="nueva_operacion.horametro_final">
                    <small id="hfiniHelp" class="form-text text-muted">Lectura final del horámetro.</small>
                </div>
            </div>
            <div class="col">
                <div class="form-group mb-3">
                    <label>Observaciones:</label>
                    <textarea [(ngModel)]="nueva_operacion.observaciones" cols="5" rows="4" fullWidth nbInput status="info" class="form-control" aria-describedby="obsHelp" placeholder="Observación"></textarea>
                    <small id="obsHelp" class="form-text text-muted">Observaciones de la nueva operación.</small>
                </div>
            </div>
        </div>
    </nb-card-body>    
    <nb-card-footer>
        <div class="form-group" style="float: right;margin-top: 5px">
            <button (click)="save()" nbButton hero status="success" shape="semi-round" size="small">Guardar</button>
            <button (click)="close()" style="margin-left: 10px" nbButton hero status="danger" shape="semi-round" size="small">Cancelar</button>
        </div>
    </nb-card-footer>
</nb-card>