<nb-card accent="info" size="large">
    <nb-card-header><div class="text-center">{{title}}</div></nb-card-header>
    <nb-card-body>
        <nb-tabset fullWidth id="tabset" name="tabset" #tabset>
            <nb-tab tabTitle="Datos generales" id="Tab1" name="Tab1" #Tab1>
                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <label>Empresa:</label>
                            <nb-select (selectedChange)="cambiarEmpresa()" fullWidth placeholder="----" [(ngModel)]="empresa_seleccionada" [status]="nombre_emp_status">
                                <nb-option *ngFor="let comp of companies; let i = index" [value]="comp.id">{{comp.siglas}}</nb-option>
                            </nb-select>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <label>Nombre:</label>
                            <input maxlength="200" (input)="nombre_change()" type="text" nbInput fullWidth placeholder="Nombre"class="form-control" aria-describedby="nombresHelp" [(ngModel)]="newService.nombre" [status]="nombre_status">
                            <small id="nombreHelp" class="form-text text-muted">Nombre completo del servicio. Entre 4 y 200 caracteres.</small>
                        </div>
                    </div>            
                </div>
                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <label>Provincia:</label>
                            <nb-select (selectedChange)="cambiarmunicipios()" fullWidth placeholder="----" [(ngModel)]="provincia_seleccionada" [status]="provincia_status">
                                <nb-option *ngFor="let prov of provincias; let i = index" [value]="i">{{prov.nombre}}</nb-option>
                            </nb-select>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <label>Municipio:</label>
                            <nb-select (selectedChange)="seleccionarMunicipio()" fullWidth placeholder="----" [(ngModel)]="municipio_seleccionado" [status]="municipio_status">
                                <nb-option *ngFor="let mun of municipios; let i = index" [value]="i">{{mun}}</nb-option>
                            </nb-select>
                        </div>
                    </div>            
                </div> 
            </nb-tab>
            <nb-tab tabTitle="Control eléctrico" id="Tab2" name="Tab2" #Tab2>
                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <label>CODCLI:</label>
                            <input maxlength="50" (input)="codcli_change()" type="text" nbInput fullWidth placeholder="CODCLI"class="form-control" aria-describedby="codcliHelp" [(ngModel)]="newService.codcli" [status]="codcli_status">
                            <small id="codcliHelp" class="form-text text-muted">Código de cliente de la empresa. Entre 1 y 50 caracteres.</small>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <label>Control:</label>
                            <input maxlength="50" (input)="control_change()" type="text" nbInput fullWidth placeholder="Control"class="form-control" aria-describedby="controlHelp" [(ngModel)]="newService.control" [status]="control_status">
                            <small id="controlHelp" class="form-text text-muted">Control de la empresa. Entre 1 y 50 caracteres.</small>
                        </div>
                    </div>            
                </div>  
                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <label>RUTA:</label>
                            <input maxlength="50" (input)="ruta_change()" type="text" nbInput fullWidth placeholder="Ruta"class="form-control" aria-describedby="rutaHelp" [(ngModel)]="newService.ruta" [status]="ruta_status">
                            <small id="rutaHelp" class="form-text text-muted">Ruta de la empresa. Entre 1 y 50 caracteres.</small>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <label>FOLIO:</label>
                            <input maxlength="50" (input)="folio_change()" type="text" nbInput fullWidth placeholder="Folio"class="form-control" aria-describedby="folioHelp" [(ngModel)]="newService.folio" [status]="folio_status">
                            <small id="folioHelp" class="form-text text-muted">Folio de la empresa. Entre 1 y 50 caracteres.</small>
                        </div>
                    </div>            
                </div>
                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <nb-checkbox [checked]="newService.bitacora" (checkedChange)="bitacora_change($event)">Utiliza bitácora</nb-checkbox>                    
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <nb-checkbox [checked]="newService.triple_registro" (checkedChange)="tripleR_change($event)">Es de triple registro</nb-checkbox>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <nb-checkbox [checked]="newService.aplica_acomodo" (checkedChange)="acomodo_change($event)">Aplican acomodo de carga</nb-checkbox>                    
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <nb-checkbox [checked]="newService.pico_diurno" (checkedChange)="picoD_change($event)">Registra horario pico diurno</nb-checkbox>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <nb-checkbox [checked]="newService.pico_nocturno" (checkedChange)="picoN_change($event)">Registra horario pico nocturno</nb-checkbox>                    
                        </div>
                    </div>
                    <div class="col">
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <fieldset>
                            <legend>Horario pico del mediodía</legend>
                            <div class="row">
                                <div class="col">
                                    <div class="form-group">
                                        <label>Desconectivos generales abiertos:</label>
                                        <input (input)="descGD_change()" maxlength="20" type="text" nbInput fullWidth placeholder="0" class="form-control" aria-describedby="mdescgHelp" [(ngModel)]="newService.desc_gen_dia" [status]="descGD_status">
                                        <small id="mdescgHelp" class="form-text text-muted">Desconectivos generales que se abren en el horario del mediodía.</small>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="form-group">
                                        <label>Desconectivos parciales abiertos:</label>
                                        <input (input)="descPD_change()" maxlength="20" type="text" nbInput fullWidth placeholder="0" class="form-control" aria-describedby="mdescgHelp" [(ngModel)]="newService.desc_parc_dia" [status]="descPD_status">
                                        <small id="mdescgHelp" class="form-text text-muted">Desconectivos parciales que se abren en el horario del mediodía.</small>
                                    </div>             
                                </div>
                            </div>
                        </fieldset>
                    </div>                    
                </div>
                <div class="row">
                    <div class="col">
                        <fieldset>
                            <legend>Horario pico nocturno</legend>
                            <div class="row">
                                <div class="col">
                                    <div class="form-group">
                                        <label>Desconectivos generales abiertos:</label>
                                        <input (input)="descGN_change()" maxlength="20" type="text" nbInput fullWidth placeholder="0" class="form-control" aria-describedby="mdescgHelp" [(ngModel)]="newService.desc_gen_noche" [status]="descGN_status">
                                        <small id="mdescgHelp" class="form-text text-muted">Desconectivos generales que se abren en el horario de la noche.</small>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="form-group">
                                        <label>Desconectivos parciales abiertos:</label>
                                        <input (input)="descPN_change()" maxlength="20" type="text" nbInput fullWidth placeholder="0" class="form-control" aria-describedby="mdescgHelp" [(ngModel)]="newService.desc_parc_noche" [status]="descPN_status">
                                        <small id="mdescgHelp" class="form-text text-muted">Desconectivos parciales que se abren en el horario de la noche.</small>
                                    </div>             
                                </div>
                            </div>
                        </fieldset>
                    </div>                    
                </div>
                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <label>Total de desconectivos:</label>
                            <input (input)="tdesc_change()" maxlength="20" type="text" nbInput fullWidth placeholder="0" class="form-control" aria-describedby="tdescHelp" [(ngModel)]="newService.total_desconectivos" [status]="tdesc_status">
                            <small id="tdescHelp" class="form-text text-muted">Número total de desconectivos que tiene la entidad.</small>
                        </div>
                    </div>
                    <div class="col">                
                    </div>
                </div>
            </nb-tab>
        </nb-tabset>
    </nb-card-body>
    <nb-card-footer>
        <div class="float-right row">
            <button (click)="validate()" nbButton hero status="success" shape="semi-round" size="small">Guardar</button>
            <button (click)="close()" style="margin-left: 10px" nbButton hero status="danger" shape="semi-round" size="small">Cancelar</button>
        </div>
    </nb-card-footer>
</nb-card>