<div>
  <div class="row" style="display: table;">
    <div class="col">
      <nb-card>
        <nb-card-body><p style="text-align: justify;">Bienvenido al Sistema de Gestión Interna de {{company.nombre}}.</p></nb-card-body>
      </nb-card>
    </div>
  </div>
  <div class="row" *ngIf="tiempo.latitud" style="width: 450px;">
    <div class="col">
      <nb-card>
        <nb-card-body>
          <div class="table" style="width: 350px;">
            <div class="row">
              <div class="col h5  text-center">{{user.municipio}}</div>
            </div>
            <div class="row">
              <div class="col text-center">
                <svg-icon src="assets/icons/{{tiempo.icon}}.svg" [svgStyle]="{ 'width.px':90 }"></svg-icon>
                <div><span class="h4"><nb-icon icon="thermometer-outline"></nb-icon>{{tiempo.temperatura}}º</span></div>
              </div>
              <div class="col text-center">
                <div class="align-self-center" style="margin-top: 15px;">
                  <img nbTooltip="Dirección del viento" src="assets/images/arrow.png" alt="{{tiempo.grados}}" width="25px" height="25px" [style.transform]="'rotate(' + tiempo.grados + 'deg)'">
                </div>
                <div style="margin-top: 9px;">
                  <span class="h4" nbTooltip="Dirección del viento">{{tiempo.direccion}}</span>
                  <span style="margin-left: 5px;" class="h4" nbTooltip="Velocidad del viento">{{tiempo.velocidad}}Km/h</span>
                </div>
              </div>
            </div>
          </div>
        </nb-card-body>
      </nb-card>
    </div>
  </div>
</div>
