<nb-card fullwidth accent="info" *ngIf="services.length > 0">
    <nb-card-header>
        Control de energía eléctrica        
        <label class="ml-2" *ngIf="services.length === 1">{{services[0].nombre}}</label>
        <nb-select (selectedChange)="changeSelectedService()" class="ml-2" *ngIf="services.length > 1" placeholder="General" [(ngModel)]="selectedService" status="info">
            <nb-option value=-1>General</nb-option>
            <nb-option *ngFor="let serv of services; let i = index" [value]="i">{{serv.nombre}}</nb-option>
        </nb-select>
        <button *ngIf="selectedService > -1" class="ml-2" (click)="openPlans()" nbTooltip="Establecer planes diarios." nbButton hero status="primary" shape="semi-round" size="small"><nb-icon icon="browser-outline"></nb-icon>Planes</button>
        <button class="ml-2" (click)="toogleGraph()" nbTooltip="Mostrar gráfico de consumo." nbButton hero status="primary" shape="semi-round" size="small"><nb-icon icon="activity-outline"></nb-icon>Gráfico</button>
        <button class="ml-2" (click)="export()" nbTooltip="Exportar a PDF." nbButton hero status="primary" shape="semi-round" size="small"><nb-icon icon="file-text-outline"></nb-icon>Exportar</button>
        <button class="ml-2" [owlDateTimeTrigger]="dt" nbTooltip="Seleccionar {{showstring[show ? 1 : 0]}} a mostrar." nbButton hero status="primary" shape="semi-round" size="small"><nb-icon icon="keypad-outline"></nb-icon>Seleccionar {{showstring[show ? 1 : 0]}}</button>
        <input [owlDateTime]="dt" #mes [owlDateTimeTrigger]="dt" nbInput status="info" style="visibility: hidden">        
        <owl-date-time #dt="owlDateTime" [startView]="!show ? 'year' : 'multi-years'" (yearSelected)="chosenYearHandler($event, dt)" (monthSelected)="chosenMonthHandler($event, dt)" [pickerType]="'calendar'"></owl-date-time>
    </nb-card-header>
    <nb-card-body>
        <div style="width: fit-content; height: 250px;" *ngIf="showgraph && !show" class="mb-2">
            <ngx-charts-line-chart
                [scheme]="colorScheme"
                [results]="multi"
                [gradient]="gradient"
                [xAxis]="showXAxis"
                [yAxis]="showYAxis"
                [legend]="showLegend"
                [showXAxisLabel]="showXAxisLabel"
                [showYAxisLabel]="showYAxisLabel"
                [xAxisLabel]="xAxisLabel"
                [yAxisLabel]="yAxisLabel"
                [autoScale]="autoScale"
                [timeline]="timeline"
                [legendTitle]="'Leyenda'"
                yScaleMin = 0
                [yScaleMax] = "yscaleMax"
                (select)="onSelect($event)">
            </ngx-charts-line-chart>
        </div>        
        <div class='table-responsive mt-2' *ngIf="!show">
            <table id="tablePreview" class="table table-hover table-sm">                
                <thead>
                    <tr>
                        <th style="border: none !important;" rowspan="2">
                            <!--<label class="mr-2 ml-2" style="font-family: Open Sans, sans-serif; font-size: 0.8125rem; font-weight: 600; margin-top: 0.01rem;">Mes</label>-->
                            <nb-toggle (checkedChange)="toogleShow($event)" status="info" labelPosition="right"><span #text_muted>Año</span></nb-toggle>
                        </th>
                        <th colspan="6" style="border: none !important;">Desglose Plan de Energía {{(this.selectedService > -1) ? this.services[this.selectedService].nombre : this.company.siglas}} {{currentYear}}</th>                        
                    </tr>
                    <tr>
                        <th colspan="17"  style="border: none !important;">
                            Plan para el mes de {{currentMonth}}: {{totalPlan}} KW
                            <span class="ml-3">Real consumido: {{totalConsume}} KW</span>
                            <span class="ml-3" *ngIf="totalPlan >= totalConsume">Ahorro: {{totalPlan-totalConsume}} KW</span>
                            <span class="ml-3" *ngIf="totalConsume > totalPlan">Sobregiro: {{totalConsume-totalPlan}} KW</span>
                            <span class="ml-3">Consumo promedio: {{promConsume}} KW</span>
                        </th>                        
                    </tr>
                    <tr>
                        <th></th>
                        <th>DIA</th>                        
                        <th>PLAN ACUMULADO</th>
                        <th>REAL ACUMULADO</th>                        
                        <th *ngIf="selectedService > -1 && services.length > 0 && services[selectedService].pico_diurno">PLAN PICO DIURNO</th>
                        <!--
                        <th *ngIf="company.pico_diurno">LECTURA PICO DIURNO 1</th>
                        <th *ngIf="company.pico_diurno">LECTURA PICO DIURNO 2</th>
                        -->
                        <th *ngIf="selectedService > -1 && services.length > 0 && services[selectedService].pico_diurno">REAL PICO DIURNO</th>
                        <th *ngIf="selectedService > -1 && services.length > 0 && services[selectedService].pico_nocturno">PLAN PICO NOCTURNO</th>
                        <!--
                        <th *ngIf="company.pico_nocturno">LECTURA PICO NOCTURNO 1</th>
                        <th *ngIf="company.pico_nocturno">LECTURA PICO NOCTURNO 2</th>
                        -->
                        <th *ngIf="selectedService > -1 && services.length > 0 && services[selectedService].pico_nocturno">REAL PICO NOCTURNO</th>
                        <th>PLAN DIA</th>
                        <th>REAL DIA</th>
                        <th *ngIf="selectedService > -1">LECTURA CIERRE</th>
                        <th style="width:  7%"></th>                        
                    </tr>
                </thead>
                <tbody>          
                    <tr *ngFor="let erecord of erecords; let i = index" [ngClass]="erecord.fecha | dayOfWeek:3">
                        <th scope="row">{{erecord.fecha | dayOfWeek:2}}</th>
                        <td>{{i+1}}</td>                        
                        <td><span>{{erecord.planacumulado}}</span></td>
                        <td><span *ngIf="erecord.consumo > 0">{{erecord.realacumulado}}</span></td>
                        <td *ngIf="selectedService > -1 && services.length > 0 && services[selectedService].pico_diurno"><span>{{erecord.plan_hpicd}}</span></td>
                        <!--
                        <td *ngIf="company.pico_diurno"><span *ngIf="erecord.plan_hpicd > 0">{{erecord.lectura_hpicd1}}</span></td>
                        <td *ngIf="company.pico_diurno"><span *ngIf="erecord.lectura_hpicd1 > 0">{{erecord.lectura_hpicd2}}</span></td>
                        -->
                        <td *ngIf="selectedService > -1 && services.length > 0 && services[selectedService].pico_diurno"><span *ngIf="erecord.lectura_hpicd2 > 0">{{(erecord.lectura_hpicd2 - erecord.lectura_hpicd1).toFixed(1)}}</span></td>
                        <td *ngIf="selectedService > -1 && services.length > 0 && services[selectedService].pico_nocturno"><span>{{erecord.plan_hpicn}}</span></td>
                        <!--
                        <td *ngIf="company.pico_nocturno"><span *ngIf="erecord.plan_hpicn > 0">{{erecord.lectura_hpicn1}}</span></td>
                        <td *ngIf="company.pico_nocturno"><span *ngIf="erecord.lectura_hpicn1 > 0">{{erecord.lectura_hpicn2}}</span></td>
                        -->
                        <td *ngIf="selectedService > -1 && services.length > 0 && services[selectedService].pico_nocturno"><span *ngIf="erecord.lectura_hpicn2 > 0">{{(erecord.lectura_hpicn2 - erecord.lectura_hpicn1).toFixed(1)}}</span></td>
                        <td><span *ngIf="erecord.plan > 0">{{erecord.plan}}</span></td>
                        <td>
                            <span *ngIf="erecord.consumo > 0" [ngClass]="(erecord.plan < erecord.consumo)?'text-danger font-weight-bold':''">
                                {{erecord.consumo}}
                            </span>
                        </td>
                        <td *ngIf="selectedService > -1"><span *ngIf="erecord.consumo > 0">{{erecord.lectura}}</span></td>
                        <td>
                            <nb-icon *ngIf="selectedService > -1 && !erecord.bloqueado" (click)="openNew(i)" style="cursor: pointer" icon="edit-outline" [options]="{animation:{type: 'zoom'}}" nbTooltip="Introducir lecturas" nbTooltipIcon="edit-outline" nbTooltipStatus="info"></nb-icon>
                            <nb-icon *ngIf="services.length > 1 && erecord.bloqueado" (click)="unblockrecord(i)" style="cursor: pointer" icon="unlock-outline" [options]="{animation:{type: 'zoom'}}" nbTooltip="Desbloquear registro" nbTooltipIcon="unlock-outline" nbTooltipStatus="info"></nb-icon>
                            <nb-icon *ngIf="!erecord.bloqueado && erecord.consumo > 0" (click)="blockrecord(i)" style="cursor: pointer" icon="lock-outline" [options]="{animation:{type: 'zoom'}}" nbTooltip="Bloquear registro" nbTooltipIcon="lock-outline" nbTooltipStatus="info"></nb-icon>
                            <nb-icon style="cursor: pointer" *ngIf="erecord.consumo > 0" icon="file-text-outline" (click)="checkBloquedBeforeExport(i)" [options]="{animation:{type: 'zoom'}}" nbTooltip="Exportar a Modelo 5" nbTooltipIcon="file-text-outline" nbTooltipStatus="info"></nb-icon>
                            <nb-icon style="cursor: pointer" *ngIf="selectedService > -1 && user.role==='admin' && erecord.id" icon="trash-2-outline" (click)="deleteERecord(erecord.id)" [options]="{animation:{type: 'zoom'}}" nbTooltip="Eliminar registro" nbTooltipIcon="trash-2-outline" nbTooltipStatus="danger"></nb-icon>
                        </td>                        
                    </tr>
                </tbody>
            </table>            
        </div>
        <div style="width: fit-content; height: 250px;" *ngIf="showgraph && show" class="mb-2">
            <ngx-charts-line-chart
                [scheme]="colorScheme"
                [results]="multi2"
                [gradient]="gradient"
                [xAxis]="showXAxis"
                [yAxis]="showYAxis"
                [legend]="showLegend"
                [showXAxisLabel]="showXAxisLabel"
                [showYAxisLabel]="showYAxisLabel"
                [xAxisLabel]="'Meses'"
                [yAxisLabel]="yAxisLabel"
                [autoScale]="autoScale"
                [timeline]="timeline"
                yScaleMin = 0
                [yScaleMax] = "yscaleMax2"
                [legendTitle]="'Leyenda'">
            </ngx-charts-line-chart>
        </div>
        <div class='table-responsive mt-2' *ngIf="show">
            <table id="tablePreview" class="table table-hover table-sm">                
                <thead>
                    <tr>
                        <th style="border: none !important;" rowspan="2">
                            <!--<label class="mr-2 ml-2" style="font-family: Open Sans, sans-serif; font-size: 0.8125rem; font-weight: 600; margin-top: 0.01rem;">Mes</label>-->
                            <nb-toggle [checked]="show" (checkedChange)="toogleShow($event)" status="info" labelPosition="right"><span #text_muted>Año</span></nb-toggle>
                        </th>
                        <th colspan="7" style="border: none !important;">Desglose Plan de Energía {{company.siglas}} {{currentYear}}</th>                        
                    </tr>
                    <tr>
                        <th colspan="7"  style="border: none !important;">
                            Plan para el año {{currentYear}}: {{totalYearPlan}} KW
                            <span class="ml-3">Real consumido: {{totalYearConsume}} KW</span>
                            <span class="ml-3" *ngIf="totalYearPlan >= totalYearConsume">Ahorro: {{totalYearPlan-totalYearConsume}} KW</span>
                            <span class="ml-3" *ngIf="totalYearConsume > totalYearPlan">Sobregiro: {{totalYearConsume-totalYearPlan}} KW</span>
                            <span class="ml-3">Consumo promedio: {{totalYearConsume / months.length}} KW</span>
                        </th>                        
                    </tr>
                    <tr>                        
                        <th>MES</th>
                        <th>PLAN</th>
                        <th>REAL</th>
                        <th>PLAN ACUMULADO</th>
                        <th>REAL ACUMULADO</th>
                        <th>DIFERENCIA</th>
                    </tr>
                </thead>
                <tbody>          
                    <tr *ngFor="let month of months; let i = index">
                        <th scope="row" >{{month.Mes}}</th>                        
                        <td><span *ngIf="month.Plan > 0">{{month.Plan}}</span></td>
                        <td>
                            <span *ngIf="month.Consumo > 0" [ngClass]="(month.Plan < month.Consumo)?'text-danger font-weight-bold':''">
                                {{month.Consumo}}
                            </span>
                        </td>
                        <td><span *ngIf="month.Consumo > 0">{{month.PlanAcumulado}}</span></td>
                        <td><span *ngIf="month.Consumo > 0">{{month.RealAcumulado}}</span></td>
                        <td><span *ngIf="month.Consumo > 0">{{month.PlanAcumulado - month.RealAcumulado}}</span></td>
                    </tr>
                </tbody>
            </table>            
        </div>
    </nb-card-body>
    <nb-card-footer></nb-card-footer>
 </nb-card>
<nb-card *ngIf="services.length === 0" accent="info" fullwidth>
    <nb-card-body>
        No tiene servicios asignados. Contacte al administrador del sistema.
    </nb-card-body>
</nb-card>