<nb-card fullwidth accent="info">
    <nb-card-header>
        Control de energía eléctrica
        <button class="ml-2" (click)="openPlans()" nbTooltip="Establecer planes diarios." nbButton hero status="primary" shape="semi-round" size="tiny"><nb-icon icon="browser-outline"></nb-icon>Planes</button>
        <button class="ml-2" (click)="toogleGraph()" nbTooltip="Establecer planes diarios." nbButton hero status="primary" shape="semi-round" size="tiny"><nb-icon icon="activity-outline"></nb-icon>Gráfica</button>
        <button class="ml-2" nbTooltip="Exportar a PDF." nbButton hero status="success" shape="semi-round" size="tiny"><nb-icon icon="file-text-outline"></nb-icon>Exportar</button>
        <button class="ml-2" (click)="changeMonth()" nbTooltip="Seleccionar mes a mostrar." nbButton hero status="primary" shape="semi-round" size="tiny"><nb-icon icon="keypad-outline"></nb-icon>Mes</button>
        <input type="text" nbInput #mes [owlDateTime]="month">      
        <owl-date-time #month></owl-date-time>
    </nb-card-header>
    <nb-card-body>
        <div style="width: fit-content; height: 250px;" *ngIf="showgraph" class="mb-2">
            <ngx-charts-line-chart                
                [scheme]="colorScheme"
                [results]="multi"
                [gradient]="gradient"
                [xAxis]="showXAxis"
                [yAxis]="showYAxis"
                [legend]="showLegend"
                [showXAxisLabel]="showXAxisLabel"
                [showYAxisLabel]="showYAxisLabel"
                [xAxisLabel]="xAxisLabel"
                [yAxisLabel]="yAxisLabel"
                [autoScale]="autoScale"
                [timeline]="timeline"
                [legendTitle]="'Leyenda'"
                (select)="onSelect($event)">
            </ngx-charts-line-chart>
        </div>        
        <div class='table-responsive mt-2'>
            <table id="tablePreview" class="table table-hover table-sm">                
                <thead>
                    <tr>
                        <th style="border: none !important;" rowspan="2"></th>
                        <th colspan="6" style="border: none !important;">Desglose Plan de Energía CITMATEL {{currentYear}}</th>                        
                    </tr>
                    <tr>
                        <th colspan="6"  style="border: none !important;">
                            Plan para el mes de {{currentMonth}}: {{totalPlan}} KW
                            <span class="ml-3">Real consumido: {{totalConsume}} KW</span>
                            <span class="ml-3" *ngIf="totalPlan >= totalConsume">Ahorro: {{totalPlan-totalConsume}} KW</span>
                            <span class="ml-3" *ngIf="totalConsume > totalPlan">Sobregiro: {{totalConsume-totalPlan}} KW</span>
                            <span class="ml-3">Consumo promedio: {{promConsume}} KW</span>
                        </th>                        
                    </tr>
                    <tr>
                        <th></th>
                        <th>DIA</th>
                        <th>PLAN</th>
                        <th>REAL</th>
                        <th>PLAN ACUMULADO</th>
                        <th>REAL ACUMULADO</th>
                        <th>LECTURA</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>          
                    <tr *ngFor="let erecord of erecords; let i = index" [ngClass]="erecord.fecha | dayOfWeek:3" style="cursor: pointer">
                        <th scope="row" (click)="openNew(i)">{{erecord.fecha | dayOfWeek:2}}</th>
                        <td (click)="openNew(i)">{{i+1}}</td>
                        <td (click)="openNew(i)"><span *ngIf="erecord.plan > 0">{{erecord.plan}}</span></td>
                        <td (click)="openNew(i)">
                            <span *ngIf="erecord.consumo > 0" [ngClass]="(erecord.plan < erecord.consumo)?'text-danger font-weight-bold':''">
                                {{erecord.consumo}}
                            </span>
                        </td>
                        <td (click)="openNew(i)"><span *ngIf="erecord.consumo > 0">{{erecord.planacumulado}}</span></td>
                        <td (click)="openNew(i)"><span *ngIf="erecord.consumo > 0">{{erecord.realacumulado}}</span></td>
                        <td (click)="openNew(i)"><span *ngIf="erecord.consumo > 0">{{erecord.lectura}}</span></td>
                        <td><nb-icon *ngIf="user.role==='admin' && erecord.id" icon="trash-2-outline" (click)="deleteERecord(erecord.id)" [options]="{animation:{type: 'zoom'}}" nbTooltip="Eliminar registro" nbTooltipIcon="trash-2-outline" nbTooltipStatus="danger"></nb-icon></td>
                    </tr>
                </tbody>
            </table>            
        </div>
    </nb-card-body>
    <nb-card-footer></nb-card-footer>
  </nb-card>
