<nb-card accent="info" size="large">
  <nb-card-header><div class="text-center">Nuevo registro</div></nb-card-header>
  <nb-card-body>
    <div class="row">
      <div class="col">
        <div class="form-group">
          <label>Cliente:</label>
          <nb-form-field>
            <input #clinput autofocus type="text" (input)="clientChange()" [nbAutocomplete]="autoClients" [(ngModel)]="newrecord.cliente" [status]="client_status" nbInput fullWidth placeholder="Siglas" class="form-control" aria-describedby="clienteHelp">
            <button *ngIf="newrecord.cliente !== ''" nbSuffix nbButton ghost (click)="clearClientInput()">
              <nb-icon icon="close-outline" nbTooltip="Borrar" nbTooltipStatus="info"></nb-icon>
            </button>
          </nb-form-field>
          <small id="clienteHelp" class="form-text text-muted">Siglas del Cliente.</small>
          <nb-autocomplete #autoClients (selectedChange)="onClientSelectionChange($event)">
            <nb-option *ngFor="let client of filteredClients$ | async" [value]="client.siglas" style="cursor: auto;">
              <div style="cursor: auto;" class="w-100">
                <div style="float: left; font-size: 12px;">{{ client.siglas }}</div>
                <div style="padding: 0; float: right;">
                  <img (click)="removeClient(client)" style="cursor: pointer;" class="float-right mt-1" src="assets/images/trash.png" width="16px" height="16px" alt="Eliminar">
                </div>
              </div>
            </nb-option>
          </nb-autocomplete>
        </div>
      </div>
      <div class="col" [hidden]="!show_client_name">
        <div class="form-group">
          <label>Nombre del cliente:</label>
          <input type="text" (input)="clientNameChange()" [(ngModel)]="newrecord.cliente_nombre" [status]="client_name_status" nbInput fullWidth placeholder="Nombre del cliente" class="form-control" aria-describedby="clienteNHelp">
          <small id="clienteNHelp" class="form-text text-muted">Nombre del Cliente.</small>          
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="form-group">
          <label>Equipo:</label>
          <nb-form-field>
            <input #dev1 type="text" [nbAutocomplete]="autoDevices1" (focusout)="deviceLostFocus()" (input)="deviceChange()" [(ngModel)]="newrecord.equipo" [status]="device_status" nbInput fullWidth placeholder="Equipo" class="form-control" aria-describedby="eqiopoHelp">
            <button *ngIf="newrecord.equipo !== ''" nbSuffix nbButton ghost (click)="clearDeviceInput()">
              <nb-icon icon="close-outline" nbTooltip="Borrar" nbTooltipStatus="info"></nb-icon>
            </button>
          </nb-form-field>
          <small id="equipoHelp" class="form-text text-muted">Equipo a registrar.</small>
          <nb-autocomplete #autoDevices1 (selectedChange)="onDeviceSelectionChange($event)">
            <nb-option *ngFor="let device of filteredDevices$ | async" [value]="device" style="cursor: auto;">
              <div class="row w-100" style="cursor: auto;">
                <div class="col">{{ device }}</div>
                <div class="col" style="padding: 0;">
                  <img style="cursor: pointer;" (click)="removeDevice(device)" class="float-right mt-1" src="assets/images/trash.png" width="16px" height="16px" alt="Eliminar">
                </div>
              </div>
            </nb-option>
          </nb-autocomplete>
        </div>
      </div>
      <div class="col">
        <div class="form-group h-100" style="padding-top: 33px;">
          <nb-checkbox [checked]="newrecord.externo" (checkedChange)="extern_change($event)" status="info">Fuera del taller</nb-checkbox>                    
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="form-group">
          <label>Marca:</label>
          <nb-form-field>
            <input #mrc type="text" [nbAutocomplete]="autoMarcs" (input)="marcChange()" (focusout)="marcLostFocus()" [(ngModel)]="newrecord.marca" [status]="marc_status" nbInput fullWidth placeholder="Marca" class="form-control" aria-describedby="marcaHelp">
            <button *ngIf="newrecord.marca !== ''" nbSuffix nbButton ghost (click)="clearMarcInput()">
              <nb-icon icon="close-outline" nbTooltip="Borrar" nbTooltipStatus="info"></nb-icon>
            </button>
          </nb-form-field>
          <small id="marcaHelp" class="form-text text-muted">Marca del equipo a registrar.</small>
          <nb-autocomplete #autoMarcs (selectedChange)="onMarcSelectionChange($event)">
            <nb-option *ngFor="let marc of filteredMarcs$ | async" [value]="marc" style="cursor: auto;">
              <div class="row w-100" style="cursor: auto;">
                <div class="col">{{ marc }}</div>
              </div>
            </nb-option>
          </nb-autocomplete>
        </div>
      </div>
      <div class="col">
        <div class="form-group">
          <label>Modelo:</label>
          <nb-form-field>
            <input #model [nbAutocomplete]="autoModels" type="text" (input)="modelChange()" (focusout)="modelLostFocus()" [(ngModel)]="newrecord.modelo" [status]="model_status" list="dynamicModels" nbInput fullWidth placeholder="Modelo" class="form-control" aria-describedby="modelHelp">
            <button *ngIf="newrecord.modelo !== ''" nbSuffix nbButton ghost (click)="clearModelInput()">
              <nb-icon icon="close-outline" nbTooltip="Borrar" nbTooltipStatus="info"></nb-icon>
            </button>
          </nb-form-field>
          <small id="modelHelp" class="form-text text-muted">Modelo del equipo a registrar.</small>
          <nb-autocomplete #autoModels (selectedChange)="onModelSelectionChange($event)">
            <nb-option *ngFor="let model of filteredModels$ | async" [value]="model" style="cursor: auto;">
              <div class="row w-100" style="cursor: auto;">
                <div class="col">{{ model }}</div>
              </div>
            </nb-option>
          </nb-autocomplete>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="form-group">
          <label>Inventario:</label>
          <nb-form-field>
            <input type="text" #inv [nbAutocomplete]="autoInvs" (input)="invChange()" [(ngModel)]="newrecord.inventario" [status]="inv_status" list="dynamicInventaries" nbInput fullWidth placeholder="Inventario" class="form-control" aria-describedby="invHelp">
            <button *ngIf="newrecord.inventario !== ''" nbSuffix nbButton ghost (click)="clearInvInput()">
              <nb-icon icon="close-outline" nbTooltip="Borrar" nbTooltipStatus="info"></nb-icon>
            </button>
          </nb-form-field>
          <small id="invHelp" class="form-text text-muted">Inventario del equipo a registrar.</small> 
          <nb-autocomplete #autoInvs (selectedChange)="onInvSelectionChange($event)">
            <nb-option *ngFor="let inve of filteredInvs$ | async" [value]="inve" style="cursor: auto;">
              <div class="row w-100" style="cursor: auto;">
                <div class="col">{{ inve }}</div>
              </div>
            </nb-option>
          </nb-autocomplete>
        </div>
      </div>
      <div class="col">
        <div class="form-group">
          <label>Serie:</label>
          <nb-form-field>
            <input #serie [nbAutocomplete]="autoSeries" type="text" (input)="serialChange()" [(ngModel)]="newrecord.serie" [status]="serial_status" list="dynamicSerials" nbInput fullWidth placeholder="Serie" class="form-control" aria-describedby="serialHelp">
            <button *ngIf="newrecord.serie !== ''" nbSuffix nbButton ghost (click)="clearSerieInput()">
              <nb-icon icon="close-outline" nbTooltip="Borrar" nbTooltipStatus="info"></nb-icon>
            </button>
          </nb-form-field>
          <small id="serialHelp" class="form-text text-muted">Número de serie del equipo a registrar.</small>
          <nb-autocomplete #autoSeries (selectedChange)="onSerieSelectionChange($event)">
            <nb-option *ngFor="let serial of filteredSeries$ | async" [value]="serial" style="cursor: auto;">
              <div class="row w-100" style="cursor: auto;">
                <div class="col">{{ serial }}</div>
              </div>
            </nb-option>
          </nb-autocomplete>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="form-group">
          <label>Fecha de entrada:</label>
          <input type="text" [nbDatepicker]="datepicker" [(ngModel)]="newrecord.fecha_entrada" [status]="date_received_status" nbInput fullWidth placeholder="Fecha entrada" class="form-control" aria-describedby="dateHelp">
          <small id="dateHelp" class="form-text text-muted">Fecha en la que se le da entrada al equipo.</small>   
          <nb-datepicker #datepicker></nb-datepicker>   
        </div>
      </div>
      <div class="col">
        <div class="form-group">
          <label>Entrega:</label>
          <nb-form-field>
            <input [nbAutocomplete]="autoNames" #namep type="text" maxlength="11" (input)="entregaCIChange()" [(ngModel)]="entrega.ci" [status]="entrega_ci_status" nbInput fullWidth placeholder="###########" class="form-control" aria-describedby="ciHelp">
            <button *ngIf="entrega.ci !== ''" nbSuffix nbButton ghost (click)="clearNameInput()">
              <nb-icon icon="close-outline" nbTooltip="Borrar" nbTooltipStatus="info"></nb-icon>
            </button>
          </nb-form-field>
          <small id="ciHelp" class="form-text text-muted">Número de identidad.</small>
          <nb-autocomplete #autoNames (selectedChange)="onNameSelectionChange($event)">
            <nb-option *ngFor="let name of filteredName$ | async" [value]="name.ci" style="cursor: auto;">
              <div style="cursor: auto;" class="w-100">
                <div style="float: left; font-size: 12px;">{{ name.ci }}</div>
                <div style="padding: 0; float: right;">
                  <img (click)="removeWPerson(name)" style="cursor: pointer;" class="float-right mt-1" src="assets/images/trash.png" width="16px" height="16px" alt="Eliminar">
                </div>
              </div>
            </nb-option>
          </nb-autocomplete>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="form-group">
          <label>Nombre:</label>
          <input [disabled]="!showPersonInfo" type="text" (input)="nameChange()" [(ngModel)]="entrega.nombre" [status]="deliver_status" nbInput fullWidth placeholder="Nombre" class="form-control" aria-describedby="nameHelp">
          <small id="nameHelp" class="form-text text-muted">Nombre de la persona que entrega el equipo.</small>
        </div>
      </div>
      <div class="col">
        <div class="form-group">
          <label>Cargo:</label>
          <input [disabled]="!showPersonInfo" type="text" (input)="entregaCargoChange()" [(ngModel)]="entrega.cargo" [status]="entrega_cargo_status" nbInput fullWidth placeholder="Cargo" class="form-control" aria-describedby="cargoHelp">
          <small id="cargoHelp" class="form-text text-muted">Cargo que ocupa en la entidad.</small>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="form-group">
          <label style="margin-right: 2px;">Observaciones:</label>
          <textarea nbInput [status]="'info'" fullWidth placeholder="Observaciones..." [(ngModel)]="newrecord.observaciones" aria-describedby="obsHelp"></textarea>
          <small id="obsHelp" class="form-text text-muted">Observaciones adicionales.</small>
        </div>
      </div>
    </div>   
  </nb-card-body>
  <nb-card-footer>
    <div class="float-right row">
      <button [disabled]="save_lock" (click)="save()" nbButton hero status="success" shape="semi-round" size="small">Guardar</button>
      <button (click)="close()" style="margin-left: 10px" nbButton hero status="danger" shape="semi-round" size="small">Cancelar</button>
    </div>
  </nb-card-footer>
</nb-card>
