<nb-card fullwidth accent="info">
    <nb-card-header>Registro de entradas y salidas de visitantes del {{service.nombre}}</nb-card-header>
    <nb-card-body>
        <form [formGroup]="newVisitorRecordForm">
          <fa-icon style="cursor: pointer" (click)="openQR()" class="me-1" [icon]="['far', 'id-card']" nbTooltip="Escanear Código QR del CI" nbTooltipStatus="info"></fa-icon>
          <div class="row">
              <div class="col">
                <input nbInput fieldSize="small" (input)="nameChange()" [nbAutocomplete]="autoNames" type="text" placeholder="Nombre(s) y Apellidos"  id="nombre" #nombre formControlName="nombre" class="form-control" [status]="newVisitorRecordForm.controls.nombre.valid ? 'success' : (newVisitorRecordForm.controls.nombre.pristine ? 'info' : 'danger')">
                <nb-autocomplete #autoNames (selectedChange)="onNameSelectionChange($event)">
                  <nb-option *ngFor="let visitor of filteredVisitors$ | async" [value]="visitor.nombre" style="cursor: auto;">
                    <div style="cursor: auto;" class="w-100">
                      <div style="float: left; font-size: 12px;" (click)="complete(visitor)">{{ visitor.nombre }}</div>                    
                    </div>
                  </nb-option>
                </nb-autocomplete>
              </div>
              <div class="col"><input nbInput fieldSize="small" type="text" placeholder="Organismo"  id="organismo" formControlName="organismo" class="form-control" [status]="newVisitorRecordForm.controls.organismo.valid ? 'success' : (newVisitorRecordForm.controls.organismo.pristine ? 'info' : 'danger')"></div>
              <div class="col">
                <input nbInput fieldSize="small" (input)="ciChange()" [nbAutocomplete]="autoCIs" type="text" placeholder="CI" maxlength="11"  id="ci" formControlName="ci" class="form-control" [status]="newVisitorRecordForm.controls.ci.valid ? 'success' : (newVisitorRecordForm.controls.ci.pristine ? 'info' : 'danger')">
                <nb-autocomplete #autoCIs (selectedChange)="onCISelectionChange($event)">
                  <nb-option *ngFor="let visitor of filteredVisitors$ | async" [value]="visitor.ci" style="cursor: auto;">
                    <div style="cursor: auto;" class="w-100">
                      <div style="float: left; font-size: 12px;" (click)="complete(visitor)">{{ visitor.ci }}</div>                    
                    </div>
                  </nb-option>
                </nb-autocomplete>
              </div>
              <div class="col">
                <nb-select placeholder="Departamento" size="small"  id="departamento" formControlName="departamento" [status]="newVisitorRecordForm.controls.departamento.valid ? 'success' : (newVisitorRecordForm.controls.departamento.pristine ? 'info' : 'danger')">
                  <nb-option *ngFor="let department of departments" [value]="department.nombre">{{department.nombre}}</nb-option>
                </nb-select>
              </div>
              <div class="col">
                <input nbInput fieldSize="small" type="text" placeholder="Fecha" [owlDateTime]="dp" [owlDateTimeTrigger]="dp"  id="fecha" formControlName="fecha" class="form-control" [status]="newVisitorRecordForm.controls.fecha.valid ? 'success' : (newVisitorRecordForm.controls.fecha.pristine ? 'info' : 'danger')">
                <owl-date-time #dp [pickerType]="'calendar'"></owl-date-time>
              </div>
              <div class="col">
                <input nbInput [owlDateTime]="dh1" [owlDateTimeTrigger]="dh1" fieldSize="small" type="text" placeholder="Hora de entrada"  id="hora_entrada" formControlName="hora_entrada" class="form-control" [status]="newVisitorRecordForm.controls.hora_entrada.valid ? 'success' : (newVisitorRecordForm.controls.hora_entrada.pristine ? 'info' : 'danger')">
                <owl-date-time hour12Timer="false" #dh1 [pickerType]="'timer'"></owl-date-time>              
              </div>
              <div class="col">
                <input nbInput [owlDateTime]="dh2" (dateTimeChange)="onDateChange()" [owlDateTimeTrigger]="dh2" fieldSize="small" type="text" placeholder="Hora de salida"  id="hora_salida" #hora_salida formControlName="hora_salida" class="form-control" [status]="newVisitorRecordForm.controls.hora_salida.valid ? 'success' : (newVisitorRecordForm.controls.hora_salida.pristine ? 'info' : 'danger')">
                <owl-date-time hour12Timer="false" #dh2 [pickerType]="'timer'"></owl-date-time>
              </div>              
              <div class="col">
                <button size="small" (click)="saveVisitor()" nbTooltip="Agregar nuevo visitante" nbButton hero status="success"><nb-icon icon="plus-outline"></nb-icon></button>
                <button size="small" (click)="filterVisitors()" nbTooltip="Buscar en el registro" nbButton hero status="success"><nb-icon icon="search-outline"></nb-icon></button>
                <button size="small" (click)="clearForm()" nbTooltip="Limpiar formulario" nbButton hero status="danger"><nb-icon icon="trash-outline"></nb-icon></button>
              </div>
          </div>
        </form>
      <div class='table-responsive'>
        <table id="tablePreview" class="table table-hover table-borderless table-striped table-sm">
          <thead>
            <tr>
              <th>#</th>
              <th>Visitante</th>
              <th>Organismo</th>
              <th>CI</th>
              <th>Departamento</th>
              <th>Autoriza</th>
              <th>Fecha</th>
              <th>Hora de entrada</th>
              <th>Hora de salida</th>
              <th></th>
            </tr>
          </thead>
          <tbody>          
            <tr *ngFor="let visitor of vrecords | paginate: config; let i = index">
                <td>{{visitor.numero}}</td>
                <td>{{visitor.nombre}}</td>
                <td>{{visitor.organismo}}</td>
                <td>{{visitor.ci}}</td>
                <td>{{visitor.departamento}}</td>
                <td>{{visitor.nombre_autoriza}}</td>
                <td>{{visitor.fecha | date:'dd-MM-yyyy':'UTC'}}</td>
                <td>{{visitor.hora_entrada | shortTime}}</td>
                <td [style]="!visitor.hora_salida ? 'cursor: pointer' : ''" (click)="clickShowExitHour(visitor)">{{visitor.hora_salida | shortTime}}</td>
                <td><fa-icon style="cursor: pointer" [icon]="['far', 'trash-alt']" *ngIf="user.role==='admin'" (click)="deleteVisitor(visitor.id)" nbTooltip="Eliminar registro" nbTooltipStatus="danger"></fa-icon></td>
            </tr>
          </tbody>
        </table>
        <pagination-controls maxSize="5" previousLabel="Anterior" nextLabel="Siguiente" (pageChange)="pageChanged($event)"></pagination-controls>
      </div>
    </nb-card-body>
    <nb-card-footer>Total de registros: <b>{{config.totalItems}}</b></nb-card-footer>
  </nb-card>